<ion-header padding class="extra-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        class="back-button"
        text=""
        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="extra-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Change Password</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form class="form">
          <ion-label position="stacked">Current Password</ion-label>
          <ion-input type="password" placeholder="Enter password" name="oldPassword" ([ngModel])="oldPassword">
            <ion-icon name="lock" size="small"></ion-icon>
          </ion-input>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form class="form">
          <ion-label position="stacked">New Password</ion-label>
          <ion-input type="password" placeholder="Enter password" name="newPassword" ([ngModel])="newPassword">
            <ion-icon name="lock" size="small"></ion-icon>
          </ion-input>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form class="form">
          <ion-label position="stacked">Confirm New Password</ion-label>
          <ion-input type="password" placeholder="Re-enter new password" name="confirmPassword" ([ngModel])="confirmPassword">
            <ion-icon name="lock" size="small"></ion-icon>
          </ion-input>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
				<small>
					Password must contain at least 8 characters.
				</small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-col>
          <ion-button 
            expand="block"
            (click)="resetPassword()"  
            shape="round">
            Reset
          </ion-button>
        </ion-col>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

