<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h4>{{title}}</h4>

  <ng-template #daystemplate let-view="view" let-row="row" let-col="col">
    <div class="calendar-day {{getEventClass(view.dates[row*7+col].events)}}" >
      {{view.dates[row*7+col].label}}
    </div>
  </ng-template>

  <ng-template #detailstemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <div>
      <p>Details for {{date}}</p>
      <p>Consumed {{info?.caloriesConsumed}} of {{info?.dietCaloriesIntake}}</p>
      <p>Daily score: {{score}}</p>
    </div>
  </ng-template>

  <calendar 
    [eventSource]="eventSource" 
    [calendarMode]="calendar.mode" 
    [currentDate]="calendar.currentDate"
    [dateFormatter]="calendar.dateFormatter"

    (onCurrentDateChanged)="onCurrentDateChanged($event)" 
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)" 
    
    [monthviewDisplayEventTemplate]="daystemplate"
    [monthviewEventDetailTemplate]="detailstemplate"
    step="30">
  </calendar>

</ion-content>