


.calendar-day {
  border-radius: 6px;
  &.green {
    background-color: rgb(56, 129, 255);
    color: white;
  }

  &.red {
    background-color: red;
    color: white;
  }
  .info{
    display: flex;
    justify-content: space-around;
    padding: 10PX;
  }




}