<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Profile</ion-title>

    <ion-img class="nav-logo" src="../../../assets/img/logo-bang-small.png" slot="end"></ion-img>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Profile Header -->
  <section class="profile-header">

    <ion-avatar class="profileImage">
      <ion-img  [src]="profileImageURL"></ion-img>
    </ion-avatar>

    <ion-item classs="update-image">
      <label class="myFakeUploadButton" for="myFileInput">Edit Photo</label>
      <ion-input id="myFileInput"  type="file" accept="image/*" (change)="uploadPicture($event)" ></ion-input>
    </ion-item>

    <h1 class="text-center">John Doe</h1>
    <h2 class="text-center">DAY {{dayNumber}}</h2>

  </section>

  <!-- Profile Highlights -->
  <section class="profile-highlights">
    
    <ion-grid>
      <ion-row>
        
        <ion-col class="profile-highlight">
          <h3 class="label">Start Date</h3>
          <div class="value">{{startInfo.date}}</div>
        </ion-col>

        <ion-col class="profile-highlight">
          <h3 class="label">Height</h3>
          <div class="value">{{startInfo.height}}</div>
        </ion-col>

        <ion-col class="profile-highlight">
          <h3 class="label">Weight</h3>
          <div class="value">{{startInfo.weight}} lbs.</div>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-button expand="full" (click)="redirectToUpdatePage()" class="btn btn-rounded" shape="round">Update My Measurements</ion-button>

  </section>
  
  
  <!-- Profile Overview -->
  <section class="profile-overview">
    <ion-grid>
      <ion-row>
        
        <ion-col class="progress">
          <h3 class="label">The Bang Anti Diet</h3>
          <div class="value">Phase 3 : Week 1</div>
        </ion-col>

        <ion-col class="completion-chart">
          <!-- <circle-progress [backgroundColor]="blue" [percent]="70" [subtitle]="Completed"></circle-progress> -->
        </ion-col>

      </ion-row>
    </ion-grid>
  </section>

  <!-- Profile Reset -->
  <ion-button class="reset" [disabled]="dayNumber==1" (click)="confirmReset()">Reset diet</ion-button><br/>

  <ion-list>
    <ion-item *ngFor="let diet of previousDiets">
      <ion-label>{{diet.diet_start_date}} to {{diet.diet_end_date}}</ion-label>
      <ion-button slot="end" size="small" (click)="viewOldDiet(diet.diet_start_date, diet.diet_end_date)">View
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>