<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-avatar style="margin: 0 auto; width: 250px; height: 250px; margin: 0 auto;">
    <ion-img  [src]="profileImageURL"></ion-img>
  </ion-avatar>

    <ion-item>
      <label class="myFakeUploadButton" for="myFileInput">Edit</label>
      <ion-input id="myFileInput"  type="file" accept="image/*" (change)="uploadPicture($event)" ></ion-input>
    </ion-item>

  <ion-item>
    <p style="margin: 0 auto;  text-align: center; font-size: 24px">
        <strong>DAY {{dayNumber}}</strong></p>
  </ion-item>

  <span class="info">
      <span class="name_percent"> <strong > Day Start </strong> <br/>{{startInfo.date}}</span>  
      <br/><span class="name_percent"> <strong> Height </strong> <br/>{{startInfo.height}} </span>
      <br/><span class="name_percent"> <strong> Weight </strong> <br/>{{startInfo.weight}}</span>
  </span>



  <ion-button class="reset" [disabled]="dayNumber==1" (click)="resetDiet()">Reset diet</ion-button><br/>

  <ion-list>
    <ion-item *ngFor="let diet of previousDiets">
      <ion-label>{{diet.diet_start_date}} to {{diet.diet_end_date}}</ion-label>
      <ion-button slot="end" size="small" (click)="viewOldDiet(diet.diet_start_date, diet.diet_end_date)">View
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>