<ion-header class="header-css">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="button-bac" (click)="handleButtonClick($event)">
        <ion-icon class="color-black"  slot="icon-only" name="ios-notifications-outline"></ion-icon>
        <ion-badge  color="danger" class="ion-badge">2
        </ion-badge>
       </ion-button>
      </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end" *ngIf="isProfilePage" (click)="onSettingsClick()">
        <ion-button class="button-bac">
          <ion-icon class="color-black" name="settings"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isSettingsPage">
      <ion-button class="button-bac">
        <div class="text-colo edit-exit" >Edit</div>
      </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="isUploadData || isEditPhoto || isSchedulePage">
        <ion-button class="button-bac" (click)="closeUpload()">
          <div class="text-colo edit-exit" >Exit</div>
        </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div [hidden] ="isSettingsPage || isUploadData || isEditPhoto || isSchedulePage ">
    <ion-grid class="grid-background padding-20">
      <ion-row>
        <ion-col class= "color-white">
          <h1 class="h-style color-white">The Bang Anti-Diet</h1>
          <h1 class="h-style color-white">7 Week Plan</h1>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-10">
        <ion-col>
          <p class="color-white">Week 1 of 7</p>
          <h1 class="h-style color-white">20% Completed</h1>
          <div class="chart fat-progress margin-top-10">
            <!-- ion progress bar  -->
            <ion-progress-bar value="0.30" class="height-22"></ion-progress-bar>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-10">
        <ion-col size="5.5" class="goal-weight">
          <div class="row">
            <h1 class="margin-left color-white">150</h1><p class="margin-right lbs-css">lbs</p>
          </div>
          <div>Goal Weight</div>
          <small>(in pounds)</small>
        </ion-col>
        <ion-col size="5.5" class="current-weight">
          <div class="row">
            <h1 class="margin-left color-white">165</h1>
            <p class="margin-right lbs-css">lbs</p>
          </div>
          <div>Current Weight</div>
          <small>(in pounds)</small>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-10">
        <ion-col>
          <div class="row">
            <div><ion-icon class="color-white icon-weigh" name="add-circle-outline"></ion-icon>
            </div>
            <p class="color-white p-style"> Weigh in</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-15">
        <h1 class="color-white">Goal Tracker</h1>
      </ion-row>
      <ion-row class="lineChartHeader">
        <ion-col size="3.5" >
          <div class="row">
            <!-- <div class="weight-dot"></div><ion-text class="font-size-15">
              Weight
            </ion-text> -->
          </div>
          
        </ion-col>
        <ion-col size="4.5">
          <div class="row">
            <!-- <div class="body-fat-dot"></div><ion-text class="font-size-15">
              Body Fat
            </ion-text> -->
          </div>
        </ion-col>
        <ion-col size="4" class="margin-auto text-align-right">
          <select class="select-line">
            <option>Weekly</option>
          </select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=12 size-md="12" size-lg="8" size-xl="4" class="dateDiv">
            <div class='chart-container-big'>
              <!-- line chart  -->
                <canvas #lineCanvas height="250"  width="350" class="lineChart-bar"></canvas> 
            </div>
        </ion-col>
    </ion-row>
    <ion-row class="margin-auto color-white"><ion-col><p claas="color-white">Week</p></ion-col></ion-row>
    </ion-grid>
    <!-- <div class="padding-20 profile-jack">
      <ion-row >
        <ion-col size="3" class="margin-0 margin-auto">
          <div >
            <img class="imgBacStyle" src="../../../assets/img/Jack-with-chain.png">
          </div>
          </ion-col>
          <ion-col size="9" class="margin-top-10">
            <div>
              <h2 class="margin-0 margin-to-7">
                Good Morning, Jack.
              </h2>
              <p class="margin-0 font-size-14">Don't forget to add your gaines today!</p>
            </div>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-16">
        <ion-col >
          <h2>Your Progress</h2>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-10">
        <ion-col size="5.5" class="goal-weight">
          <div class="row">
            <h1 class="margin-left">150</h1><p class="margin-right lbs-css">lbs</p>
          </div>
          <div>Goal Weight</div>
        </ion-col>
        <ion-col size="5.5" class="current-weight">
          <div class="row">
            <h1 class="margin-left">165</h1>
            <p class="margin-right lbs-css">lbs</p>
          </div>
          <div>Current Weight</div>
        </ion-col>
        </ion-row>
      
      <ion-row class="margin-top-20">
      <ion-col>
        <h2>The Bang Anti-Diet</h2>
      </ion-col>
      </ion-row>
      <ion-row class=" margin-0 margin-top-10">
        <ion-col class="margin-0">
          <p class="margin-0 phase">Phase 2/Week 1</p>
        </ion-col>
      </ion-row>
      <div class="row">
      <h1 class="margin-0"><span class="per-color">20% </span><span>Completed</span></h1>
      </div>
      <div class="chart quizz-progress">
        <ion-progress-bar value="0.3" class="height-22"></ion-progress-bar>
      </div>
    </div> -->
    <div class="padding-20 progress-photos-back">
      <ion-row >
        <ion-col size="9.5">
          <h1 class="margin-0">Progress Photos</h1>
          <p class="margin-0 margin-to-5">Add a photo to keep track of your body sculpting journey</p>
        </ion-col>
        <ion-col size="2.5" class="margin-auto" (click)="uploadPhoto()">
          <ion-icon class="plus-icon" name="add-circle"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-15">
        <ion-col size="5.8" class="margin-0" (click)="viewImg('../../../assets/img/Capture-bang.PNG',' September 29, 2020')">
          <ion-card class="margin-0 date-card">
            <img class="workout-img"  src="../../../assets/img/Capture-bang.PNG">
          <ion-card class="margin-0 date-css date-center"><div>
            September 29, 2020
          </div></ion-card>
          </ion-card>
        </ion-col>
        <ion-col size="0.2"></ion-col>
        <ion-col size="5.8" class="margin-0" (click)="viewImg('../../../assets/img/Bang-prof.jpg',' September 29, 2020')">
          <ion-card class="margin-0 date-card">
            <img class="workout-img" src="../../../assets/img/Bang-prof.jpg">
          <ion-card class="margin-0 date-css date-center"><div>
            September 29, 2020
          </div></ion-card>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-10">
        <ion-col class="view-all" (click)="viewAllPhotos()">
          View all photos
        </ion-col>
      </ion-row>
    </div>
    <div class="padding-20 div-schedule">
      <ion-row >
        <ion-col size="9.5">
          <h1 class="margin-0">Your 7 Day Schedule</h1>
          <p class="margin-0">[Add something about being consistent]</p>
        </ion-col>
        <ion-col size="2.5" class="margin-auto" (click)="onClickAddSchedule()">
          <ion-icon class="plus-icon" name="add-circle"></ion-icon>
        </ion-col>
      </ion-row>
      <div class="margin-top-15">
        <ion-row >
          <ion-col class="week-border" *ngFor="let day of weekDays;let i = index;" [ngClass]="{'on-select-day week-border' :day.selected,'week-border':!day.selected}">
            <div (click)="onClickDate(day,i)"  class="text-align-center">{{day.name}}</div>
          </ion-col>
        </ion-row>
      </div>
      <ion-row class="margin-top-15">
        <ion-col>
          <div >
            September 29, 2020
          </div>
          <div> Today's List:</div>
        </ion-col>
      </ion-row>
      <div class="margin-top-15">
        <ion-item *ngFor="let date of todaysList;let i=index;" class="margin-0 ion-item-css" >
          <ion-row  class="margin-0 width-100">
            <ion-col size="11">
              <span class="text-color">{{date.time}} </span><span> - {{date.name}}</span>
            </ion-col>
            <ion-col size="1" (click)="deleteItem(i)">
              <ion-icon class="color-red" name="trash"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
    </div>
  </div>
  <!-- Setting should be in its own module -->
  <div *ngIf="isSettingsPage">
    <div class="padding-20 background-colo-white">
      <ion-row >
        <ion-col size="3" class="margin-0 margin-auto">
          <div >
            <img class="imgBacStyle" src="../../../assets/img/Jack-with-chain.png">
          </div>
          </ion-col>
          <ion-col size="9" class="margin-top-10">
            <div>
              <h2 class="margin-0 margin-to-7">
                Jack Owoc
              </h2>
              <p class="margin-0 font-size-14">CEO@bangenergy.com</p>
            </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="padding-left-right-20">
      <ion-row class="margin-top-15">
        <ion-col>
          <h2 class="margin-0">General</h2>
        </ion-col>
      </ion-row>
      <ion-item class="margin-0 ion-item-css ionItem-css width-100">
        <ion-row  class="width-100">
          <ion-col size="9" class="text-align-left">
            Measurement Units (Ibs)
          </ion-col>
          <ion-col size="3" class="text-align-right">
            <ion-toggle checked class="toggle-css"></ion-toggle>
          </ion-col>
        </ion-row >
      </ion-item>
      <ion-item class="margin-0 ion-item-css ionItem-css width-100">
        <ion-row  class="width-100">
          <ion-col size="9" class="text-align-left">
            Notifications
          </ion-col>
          <ion-col size="3" class="text-align-right">
            <ion-toggle checked class="toggle-css"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-row class="margin-top-20">
        <ion-col>
          <h2 class="margin-0">Body Sculpting Goals</h2>
        </ion-col>
      </ion-row>
      <ion-row class="margin-top-10">
        <ion-col >Weigh In Days</ion-col>
      </ion-row>
      <ion-row >
        <ion-col class="week-border" *ngFor="let day of weekDays;let i = index;" [ngClass]="{'on-select-day week-border' :day.selected,'week-border':!day.selected}">
          <div (click)="onClickDate(day,i)"  class="text-align-center">{{day.name}}</div>
        </ion-col>
      </ion-row>
      <div class="margin-top-15">
        <ion-item class="margin-0 ion-item-css" >
          <ion-row  class="margin-0 width-100">
            <ion-col size="8"  class="text-margin-left">
              <span >Weigh In Days</span>
            </ion-col>
            <ion-col size="4" >
              <div class="row">
                <ion-select name="weighInDays" [(ngModel)]="weighInDays" okText="OK" cancelText="Cancel" class="max-width-100">
                  <ion-select-option 
                    *ngFor="let item of weighInDaysList"
                    >
                      {{ item }}
                    </ion-select-option>
                </ion-select>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="margin-0 ion-item-css" >
          <ion-row  class="margin-0 width-100">
            <ion-col size="8"  class="text-margin-left">
              <span >Pounds To Lose</span>
            </ion-col>
            <ion-col size="4" >
              <div class="row">
                <ion-select name="weighWeight" [(ngModel)]="weighWeight" okText="OK" cancelText="Cancel" class="max-width-100">
                  <ion-select-option 
                    *ngFor="let item of weightRange"
                    >
                      {{ item }} lbs.
                    </ion-select-option>
                    <ion-select-option>Above 50</ion-select-option>
                </ion-select>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
      <ion-row class="margin-top-20">
        <ion-col size="6" class="margin-auto end-diet-css" (click)="presentAlertConfirm()">
          <b>Reset Diet</b>
        </ion-col>
        <ion-col size="6" class="margin-auto  logout"
        (click)="logout()">
         <b>Logout</b>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="isUploadData" class="padding-20">
    <ion-row class="margin-top-30">
      <ion-col >
        <h1>Upload Photo</h1>
      </ion-col>
    </ion-row>
    <ion-row class="margin-top-15">
      <ion-col>
        <div class="avatar-upload" >
          <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput 
              (change)="uploadFile($event.target.files)" />
            </div>
            
            <div class="avatar-preview circular--square-preview">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                </div>
            </div>
        </div>
        <ion-card *ngIf="!imageUrl"  class="text-align-center" class="tapToUpload" (click)="fileInput.click()">
          <ion-icon class="font-size-24" name="image"></ion-icon>
          <div>Tap to upload</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="margin-top-95" *ngIf="!imageUrl"></div>
    <div class="margin-top-15">
      <ion-item  class="margin-0 ion-item-css" >
        <ion-row  class="margin-0 width-100">
          <ion-col size="8"  class="text-margin-left">
            <span > Body Fat</span>
          </ion-col>
          <ion-col size="4" >
            <div class="row">
              <ion-select name="todayBodyFat" [(ngModel)]="todayBodyFat" okText="OK" cancelText="Cancel" 
              class="max-width-100" (ngModelChange)="onChangeFat(todayBodyFat)">
                <ion-select-option 
                  *ngFor="let item of bodyFatRange"
                  [value]="item">
                    {{ item }}%
                  </ion-select-option>
                  <ion-select-option >Above 49</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item  class="margin-0 ion-item-css" >
        <ion-row  class="margin-0 width-100">
          <ion-col size="8"  class="text-margin-left">
            <span > Body Mass</span>
          </ion-col>
          <ion-col size="4" >
            <div class="row">
              <ion-select name="todayBodyMass" [(ngModel)]="todayBodyMass" okText="OK" cancelText="Cancel" 
              class="max-width-100" (ngModelChange)="onChangeMass(todayBodyMass)">
                <ion-select-option 
                  *ngFor="let item of bodyFatMass"
                  [value]="item">
                    {{ item }}%
                  </ion-select-option>
                  <ion-select-option >Above 49</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item  class="margin-0 ion-item-css" >
        <ion-row  class="margin-0 width-100">
          <ion-col size="8"  class="text-margin-left">
            <span >Weight</span>
          </ion-col>
          <ion-col size="4" >
            <div class="row">
              <ion-select name="todayWeight" [(ngModel)]="todayWeight" okText="OK" cancelText="Cancel" 
              (ngModelChange)="onChangeWeight(todayWeight)" class="max-width-100">
                <ion-select-option 
                  *ngFor="let item of weightRange"
                  >
                    {{ item }} lbs.
                  </ion-select-option>
                  <ion-select-option>Above 50</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <ion-row class="margin-top-15">
      <ion-col>
        <ion-button expand="block" mode="md" class="save-button" (click)="closeUpload()">Save</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="isEditPhoto" class="padding-24">
    <ion-row class="margin-top-30">
      <ion-col >
        <h1>Edit Photo</h1>
      </ion-col>
    </ion-row>
    <ion-row class="margin-top-15">
      <ion-col>
        <img class="edit-img" src="{{editImg}}">
      </ion-col>
    </ion-row>
    <ion-row class="margin-top-10">
      <ion-col>
        <h1>September 29, 2020</h1>
      </ion-col>
    </ion-row>
    <div class="margin-top-15">
      <ion-item  class="margin-0 ion-item-css" >
        <ion-row  class="margin-0 width-100">
          <ion-col size="8"  class="text-margin-left">
            <span > Body Fat</span>
          </ion-col>
          <ion-col size="4" >
            <div class="row">
              <ion-select name="todayBodyFat" [(ngModel)]="todayBodyFat" okText="OK" cancelText="Cancel" 
              class="max-width-100" (ngModelChange)="onChangeFat(todayBodyFat)">
                <ion-select-option 
                  *ngFor="let item of bodyFatRange"
                  [value]="item">
                    {{ item }}%
                  </ion-select-option>
                  <ion-select-option >Above 49</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item  class="margin-0 ion-item-css" >
        <ion-row  class="margin-0 width-100">
          <ion-col size="8"  class="text-margin-left">
            <span > Body Mass</span>
          </ion-col>
          <ion-col size="4" >
            <div class="row">
              <ion-select name="todayBodyMass" [(ngModel)]="todayBodyMass" okText="OK" cancelText="Cancel" 
               class="max-width-100" (ngModelChange)="onChangeMass(todayBodyMass)">
                <ion-select-option 
                  *ngFor="let item of bodyFatMass"
                  [value]="item">
                    {{ item }}%
                  </ion-select-option>
                  <ion-select-option >Above 49</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item  class="margin-0 ion-item-css" >
        <ion-row  class="margin-0 width-100">
          <ion-col size="8"  class="text-margin-left">
            <span >Weight</span>
          </ion-col>
          <ion-col size="4" >
            <div class="row">
              <ion-select name="todayWeight" [(ngModel)]="todayWeight" okText="OK" cancelText="Cancel" 
              (ngModelChange)="onChangeWeight(todayWeight)"  class="max-width-100">
                <ion-select-option 
                  *ngFor="let item of weightRange"
                  >
                    {{ item }} lbs.
                  </ion-select-option>
                  <ion-select-option>Above 50</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <ion-row class="margin-top-15">
      <ion-col>
        <ion-button expand="block" mode="md" class="save-button" (click)="closeUpload()">Save</ion-button>
      </ion-col>
    </ion-row>
    <ion-col class="margin-auto">
      <div class="row" (click)="deletePhoto()">
       <div class="margin-left-auto">
         <ion-icon class="trash-css" name="trash"></ion-icon>
       </div>
       <div class="margin-right-auto"><p class="delete-photo">Delete Photo</p></div>
      </div>
     </ion-col>
  </div>
  <div *ngIf="isSchedulePage" class="padding-20">
    <ion-row class="margin-top-30">
      <ion-col >
        <h1>SCHEDULE</h1>
      </ion-col>
    </ion-row>
    <ion-row class="margin-top-15">
      <ion-col>
        <div>Title</div>
        <div class="margin-top-10">
          <ion-input type="text" placeholder="Workout..." class="form"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <div class="margin-top-15">
      <ion-item  class="margin-0 ion-item-css" >
        <ion-row  class="margin-0 width-100">
          <ion-col size="7"  class="text-margin-left">
            <span > Alert Day</span>
          </ion-col>
          <ion-col size="5" >
            <div class="row">
              <ion-select name="startDay" [(ngModel)]="startDay" okText="OK" cancelText="Cancel" 
              class="max-width-100 margin-left-auto" (ngModelChange)="onChangeStartDay(startDay)">
                <ion-select-option 
                  *ngFor="let item of startDayList"
                  [value]="item">
                    {{ item }}
                  </ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item  class="margin-0 ion-item-css" >
        <ion-row  class="margin-0 width-100">
          <ion-col size="7"  class="text-margin-left">
            <span > Start Time</span>
          </ion-col>
          <ion-col size="5" >
            <div class="row">
              <ion-select name="startTime" [(ngModel)]="startTime" okText="OK" cancelText="Cancel" 
              class="max-width-100 margin-left-auto" (ngModelChange)="onChangeStartTime(startTime)">
                <ion-select-option 
                  *ngFor="let item of weighInDaysList"
                  [value]="item">
                    {{ item }}
                  </ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item  class="margin-0 ion-item-css" >
        <ion-row  class="margin-0 width-100">
          <ion-col size="7"  class="text-margin-left">
            <span >End Time</span>
          </ion-col>
          <ion-col size="5" >
            <div class="row">
              <ion-select name="endTime" [(ngModel)]="endTime" okText="OK" cancelText="Cancel" 
              (ngModelChange)="onChangeEndTime(endTime)" class="max-width-100 margin-left-auto">
                <ion-select-option *ngFor="let item of weighInDaysList">
                    {{ item }}
                  </ion-select-option>
              </ion-select>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
      <div class="margin-top-15">
        <div>Repeat</div>
        <ion-row class="margin-top-10">
          <ion-col class="week-border" *ngFor="let day of weekDaysList;let i = index;" [ngClass]="{'on-select-day week-border' :day.selected,'week-border':!day.selected}">
            <div (click)="onClickWeekDay(day,i)"  class="text-align-center">{{day.name}}</div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ion-row class="margin-top-15">
      <ion-col>
        <ion-button expand="block" mode="md" class="save-button" (click)="closeUpload()">Save</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer class="footer-border"></ion-footer>