<ion-content padding class="extra-padding">
  <ion-grid>
    <ion-row class="close-icon-margin">
      <ion-col size="1" (click)="dismiss()">
        <ion-icon class="ion-text-left close-icon" name="close"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Add Water Intake</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Today's intake/recommended
        <h2>{{ water.intake }}/{{ water.recommended}} ounces</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-range 
						min="0" 
						max="100" 
						[(ngModel)]="waterAmount" 
						pin color="primary">
						<ion-icon 
							slot="start" 
							size="large" 
							name="remove-circle-outline"
							(click)="decrementCounter()">
						</ion-icon>
						<ion-icon 
							slot="end" 
							size="large" 
							name="add-circle-outline"
							(click)="incrementCounter()">
						</ion-icon>
          </ion-range>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <div class="counter-display">{{ waterAmount }} oz.</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <small>
          To determine the minimum amount of water you should drink daily, divide your bodyweight by two. This will give you the optimum ounces of water you should consume.
        </small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button 
        expand="block" 
        shape="round" 
        (click)="sendData()">
          Save
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

