.track-meal{
    color: rgb(74, 74, 74);
    text-align: center
}
.percent{
    display: flex;
    
}
.namePercentt{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
    // margin-bottom: 15px;
}
.button{
    margin-bottom: 10px;
}
.circle{
    margin-top: 15px;
}