
$backgroundColor : rgb(226, 246, 250);
$frontColor : rgb(67, 66, 66);
$fontBold : bold;
$primary : #0417c2;


.arrow-back, .arrow-forward{
    color: $frontColor;
    font-size: 25px;
}

.dayNumber{
    color : $frontColor;
}

.dayNumber, 
.current-progress{
    text-align:center;
    font-weight: $fontBold;
}

.current-progress span{
    font-size: 20px;
}

.track-meal{
    margin: 0 auto;
}

.namePercentt{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

.meal{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    color: $frontColor;
    font-size: 0.81rem;
    padding-left: 0.72rem;
    font-weight: bold;
}
.meal span {
    font-weight: normal;
}

.addFood{
    width: 100%;
}



.foodList{
    background-color: #fff;
    border-radius: 9px;
    border: solid 2px #c7c7c7;
    padding: 0.12rem;
}

.foodListBg{
    --background: none;
    --ion-safe-area-left:0;
    --padding-start: 0;

}

.circleProgress{
    height:200px; 
    margin: 10px;
}


ion-toolbar.day-change-slider ion-card section .dc-slider-title.current-progress {
    font-size: 1.08rem;
    line-height: 1.08rem;
    color: #fff;
}

.list-header {
    background-color: $primary;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    h3 {
        display: block;
        width: 100%;
        margin: 0.25rem 0;
        text-transform: uppercase;
        font-size: 1rem;
    }

}


section.content-footer {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../../assets/img/meal-footer-background.jpg");

    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
    margin-top: -3rem;
    padding: 3.5rem 0.5rem 0.5rem;

    ion-button {
        max-width: 210px;
        border-radius: 9px;
        font-weight: bold;
        display: block;
        margin: 0 auto 0.5rem;
    }
}
.nameStyle {
	color: #0417c2 ;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    // border-bottom: 3px solid #0417c2 ;
    width: fit-content;
    margin: auto;
}
svg {
    height: 100 !important;
    width: 100 !important;
}
.progressBack {
	background-color: #e2e2e2;
    width: 100%;
    height: auto;
}
.chart-container-big{
	min-height:auto;
	width: 100%;
}
.ionBar-progress {
	ion-progress-bar {
	   --background: green;
	   --buffer-background: #e2e2e2 ;
       --progress-background:#0417c2 ;
       border-radius: 30px;
    //    border-bottom-left-radius: 30px;
	 }
}
.remainingName {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.chart {
	width:110%;

    ion-progress-bar {
		width: 100%;
	}
}

.daily-progress {
	// padding: 5px 0;
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.text {
		width: 4.5rem;
		color: #0417c2;
	}
}

.progress-div {
    margin: auto ;height: 100%;
}
.dailyTracking {
    margin: auto;margin-top: 10px;text-align: center;color: black;
    font-weight: 600;
}
.dateDiv {
    margin: auto;text-align: center;
}
.backArrow {
    margin: auto;font-size: x-large;
}
.icon-color {
    color: #0417c2;
}
.daySytle {
    text-transform: uppercase;color: black;
     font-weight: 600;font-size:19px
}
.margin-auto {
    margin: auto;
}
.day-val {
    color: black;
    font-weight: 500;
}
.margin-left-right {
    margin: 0px 10px;
}
.width-100{
    width:100%
}
.border-right {
    border-right: 1px solid gainsboro;
}
.remainingColor {
    color:#0417c2;
}
.div-font {
    font: 12px;text-align: center;
}
.height-20 {
    height: 20px;
}
.calories-mainClass {
    font-size: 10px;height:20px;border-top-right-radius:30px;border-bottom-right-radius:30px
}
.calories-subClass {
    text-align: right;text-align: right;
    margin: 5px 0px;
 }
 .font-weight-600 {
    font-weight:600
 }
 .todays-food-card {
    background-color:#f1f1f1;border-radius: 10px;margin: 0px;
 }
 .today-food-row {
    background-color: #0417c2;padding: 10px 0px;
 }
 .today-food-col {
    text-align:center;color: white;
 }
 .table-card {
    border-bottom: 1px solid white;padding: 10px 0px;color: black;
 }
 .col-left {
    text-align: left;margin: auto;
 }
 .col-right {
    text-align: right;margin: auto;
 }
 .tableCard {
    padding: 10px 0px;color: black;
 }
 .margin-10 {
    margin: 10px;
 }
 .meal-progress {
	ion-progress-bar {
	   --background: green;
	   --buffer-background: #e2e2e2 ;
	   --progress-background:#0417c2 ;
	   border-radius: 30px;
	 }
   }
.icon-size {
	font-size: -webkit-xxx-large;
	color: black;
}
.ion-card-no-padding {
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}
.align-center {
    text-align: center;
    margin: auto;
    display: block;
}
.zeroCard {
    background: linear-gradient(117.92deg, #01C2B2 0%, #00287C 100%) !important;
}
.header-css {
    padding: 0px 15px;border-bottom: 2px solid gainsboro;
}
.grid1-background {
    background-color:  #FAFAFA;
}
.current-weight {
    background: linear-gradient(162.34deg,
    #02E3D6 0%, #0140C2 100%);
    box-shadow: 0 2px 34px 0 rgba(0,0,0,0.2);
    padding: 22px 0px;
    text-align: center;
    margin: auto;
    color:white;
}
.goal-weight {
    background: linear-gradient(162.34deg, #F200D7 0%,
    #9625C1 100%);
    box-shadow: 0 2px 34px 0 rgba(0,0,0,0.2);
    padding: 22px 0px;
    text-align: center;
    margin: auto;
    color:white;
}