<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Track Meal</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding (swipeleft)="handleSwipeLeft()" (swiperight)="handleSwipeRight()"> -->
<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-icon name="arrow-dropleft" slot="start" (click)="handleSwipeRight()"></ion-icon>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Day {{dayNumber}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Current progress
      </ion-card-content>
    </ion-card>
    <ion-icon name="arrow-dropright" slot="end" (click)="handleSwipeLeft()"></ion-icon>
  </ion-toolbar>

  <!-- Nutririon info-->
  <div>
    <p *ngIf="dayNutritionInfo.daynutrition.hasOwnProperty('fat'); else nofattemplate">
      <!--days with w fat-->
      Day {{dayNumber}} consist of {{dayNutritionInfo.daynutrition.protein}}% protein
      {{dayNutritionInfo.daynutrition.carbs}}% carbs and {{dayNutritionInfo.daynutrition.fat}}% fat.
    </p>
    <ng-template #nofattemplate>
      <p>
        Day {{dayNumber}} consist of {{dayNutritionInfo.daynutrition.protein}}% protein
        {{dayNutritionInfo.daynutrition.carbs}}% carbs (5%+/- Dietary Fat that occur naturally in the
        Protein and Carbohydrate food sources).
      </p>
    </ng-template>

    <p>Try to eat at elast 40g of protein per meal.</p>
    <p>Current protein:{{caloriesFromProteinAsP}}%, carbs:{{caloriesFromCarbsAsP}}%, fat:{{caloriesFromFatAsP}}%</p>

  </div>

  <!-- Food List -->
  <ion-list>
    <ion-item-sliding *ngFor="let meal of meals">
      <ion-item>
        <ion-label>{{meal.meal_name}}</ion-label>
      </ion-item>
      <ion-item-options *ngIf="today" side="end">
        <ion-item-option color="danger" (click)="removeMeal(meal.id)">Delete</ion-item-option>
        <!-- <ion-item-option (click)="editMeal(meal)">Edit</ion-item-option> -->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-item *ngIf="today">
    <ion-button (click)="openFoodModal()">Add food</ion-button>
  </ion-item>

  <!-- See https://www.npmjs.com/package/ng-circle-progress for settings -->
  <circle-progress [backgroundColor]="circlecolor" [percent]="percent" [subtitle]="circlesubtitle"></circle-progress>
</ion-content>