.track-meal{

    margin: 0 auto;
}
.percent{
    display: flex;
    
}
.namePercentt{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}
.circle{
    margin-top: 15px;
}
.meal{
    text-transform:lowercase;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}
.addFood{
    width: 100%;
}