<ion-header>
  <ion-toolbar>
    <ion-title>Add photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="photoForm" >

    <ion-item>
      <ion-label position="floating">Weight lbs</ion-label>
      <ion-input type="number" formControlName="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fat %</ion-label>
      <ion-input type="number" formControlName="fatpercent"></ion-input>
    </ion-item>

    
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()" [disabled]="!photoForm.valid">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-item>
      <ion-label>Select existing</ion-label>
      <ion-input type="file" accept="image/*" (change)="uploadPicture($event)" [disabled]="!photoForm.valid"></ion-input>
    </ion-item>
  </form>
  
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="cancelModal()">Back</ion-button>
  </ion-toolbar>
</ion-footer>