<ion-row *ngIf="page == 'viewImg'">
  <ion-col size="10"></ion-col>
  <ion-col size="2" (click)="closeModal()" class="closeModal" >
    <ion-icon ios="ios-close" md="md-close" class="font-size-40"></ion-icon>
  </ion-col>
</ion-row>
<ion-content *ngIf="page == 'viewImg'">
  <div class="padding-10-top-0">
    <img [src]="imgUrl"  class="img-style">
    <div class="padding-top-10">
      <h2>{{date}}</h2>
    </div>
  </div>
</ion-content>
<ion-row class="margin-20" *ngIf="page != 'viewImg'">
    <ion-col size="3" (click)="closeModal()" class="closeModal">
      <ion-icon name="arrow-round-back" class="font-size-40"></ion-icon>
    </ion-col>
    <ion-col size="9"  >
    </ion-col>
  </ion-row>
  <ion-content *ngIf="page != 'viewImg'">
    <div class="margin-20">
      <ion-row class="margin-20 margin-top-bottom-20">
        <ion-col size="9.5" class="align-left">
          <h2 class="margin-0">PHOTOS</h2>
        </ion-col>
        <ion-col size="2.5" class="margin-auto" (click)="uploadPhoto()">
          <ion-icon class="plus-icon" name="add-circle"></ion-icon>
        </ion-col>
        </ion-row>
        <ion-row class="ionRow">
          <ion-col size="8" *ngFor="let img of imgList" class="imgList-css">
            <ion-icon name="expand" class="icon-css" (click)="expandimg(img)"></ion-icon>
            <img [src]="img.url" class="img-css" [ngClass]="{'im-border':img.selected}" (click)="onClickOnImg(img)">
          </ion-col>
        </ion-row>
        <ion-row class="margin-top-10">
          <ion-col>
            <h3>September 29, 2020</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="margin-auto">
            <p>Body Fat</p>
            <h3 class="bodyFat">{{bodyFat}}%</h3>
          </ion-col>
          <ion-col size="4" class="margin-auto">
            <p>Body Mass</p>
            <h3 class="bodyMass">{{bodymass}}%</h3>
          </ion-col>
          <ion-col size="4" class="margin-auto">
            <p>Weight</p>
            <h3 class="weight">{{weight}}<small>lbs</small></h3>
          </ion-col>
        </ion-row>
        <ion-row class="margin-top-15">
          <ion-col class="edit-button" (click)="editPhoto()">Edit</ion-col>
        </ion-row>
    </div>
    
  </ion-content>