<!-- <ion-header>
  <ion-toolbar class="register_title">
    <ion-buttons slot="start">
      <ion-back-button class="register_back"></ion-back-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding text-center>
  <h1>Welcome!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <strong text-left>What You'll Need</strong>
  <p>
    Food Scale <br />
    Smart Bathroom Scale
  </p>

  <ion-button class="button icon icon-right ion-home" (click)="begin()">
    Let's Begin
    <ion-icon name="arrow-forward" slot="end"></ion-icon>
  </ion-button>
  
</ion-content>
