<ion-content padding>
  <div class="logo-img-sml">
    <img src="assets/img/login-logo-new.png">
  </div>

  <h1>Welcome!</h1>
  <p>
    In my Bang Anti Diet book, I dispel the Lactic acid myth. Many people refer to lactic acid as a "waste product" and say that it "causes muscle soreness". The truth is that Lactate is used as an energy source by the muscles, heart, and brain. Muscles soreness is a result of muscle damage, not Lactate. 
  </p>
  <h2>What You'll Need</h2>
  <ul>
    <li>Food Scale</li>
    <li>Smart Bathroom Scale</li>
  </ul>
  
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
  <ion-button expand="block" class="button ion-home" (click)="begin()">
    Let's Begin
  </ion-button>
</ion-footer>