<ion-content padding>
  <div class="logo-img-sml">
    <img src="assets/img/login-logo-new.png">
  </div>

  <h1>Welcome!</h1>
  <p>
    In my Bang Anti Diet book, I dispel the Lactic acid myth. Many people refer to lactic acid as a "waste product" and say that it "causes muscle soreness". The truth is that Lactate is used as an energy source by the muscles, heart, and brain. Muscles soreness is a result of muscle damage, not Lactate. 
  </p>
  <h2>What You'll Need</h2>
  <ul>
    <li>Food Scale</li>
    <li>Smart Bathroom Scale</li>
  </ul>

  <div class="text-center position-with-img">
    <ion-button class="button ion-home ion-text-center" (click)="begin()">
      Let's Begin
    </ion-button>
  </div>

</ion-content>

<ion-footer class="ion-no-border ion-text-center">
  <div>
    <img class="jack-img" src="assets/img/Jack-with-chain.png">
  </div>
</ion-footer>