<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal(-1)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item>
    <ion-label text-wrap>
      Current alarms:
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor="let n of scheduled">
        <ion-item (click)="openModal(n.id)">
          <ion-label>{{n.text}}</ion-label>
          <p>{{n.date}} at {{n.time}}</p>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteAlarm(n.id)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>


</ion-content>