<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (swipeleft)="handleSwipeLeft()">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Yesterdays' Nutrition and Workout Info</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      AAA
    </ion-card-content>
  </ion-card>


  <!-- Default Segment -->
  <ion-segment [(ngModel)]="segment_choice">
    <ion-segment-button value="nutrition">
      <ion-label>Nutrition</ion-label>
    </ion-segment-button>
    <ion-segment-button value="workout">
      <ion-label>Workout</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment_choice == 'nutrition'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Dui vivamus arcu felis bibendum ut tristique.
    </p>
  </div>
  <div *ngIf="segment_choice == 'workout'">
    <p>
      Lacus vestibulum sed arcu non odio euismod lacinia. In fermentum et sollicitudin ac orci phasellus egestas. Varius
      sit amet mattis vulputate enim.
    </p>
  </div>

</ion-content>