<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button 
			class="back-button"
			text="">
		</ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
    <ion-buttons slot="end" (click)="onSave()">
      <ion-button class="toolbar-text-button">
        <div class="text-colo edit-exit" >Save</div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding-20 background-colo-white">
    <ion-row>
      <ion-col size="3" class="margin-0 margin-auto">
        <div>
          <img class="imgBacStyle" src="../../../assets/img/Jack-with-chain.png">
        </div>
        </ion-col>
        <ion-col size="9" class="margin-top-10">
          <div>
            <h2 class="margin-0 margin-to-7">
              Jack Owoc
            </h2>
						<p class="margin-0 font-size-14">CEO@bangenergy.com</p>
						<p (click)="openUserInfoModal()">Edit</p>
          </div>
      </ion-col>
    </ion-row>
  </div>
  <div style="padding: 0px 20px;">
    <ion-row class="margin-top-15">
      <ion-col>
        <h2 class="margin-0">General</h2>
      </ion-col>
    </ion-row>

    <ion-item class="margin-0 ion-item-css ionItem-css width-100">
      <ion-row  class="width-100">
        <ion-col size="9" class="text-align-left">
          Notifications
        </ion-col>
        <ion-col size="3" class="text-align-right">
          <ion-toggle [(ngModel)]="notifications" checked class="toggle-css"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-row class="margin-top-20">
      <ion-col>
        <h2 class="margin-0">Body Sculpting Goals</h2>
      </ion-col>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col >Weigh In Days</ion-col>
    </ion-row>

    <ion-row>
			<div class="day-select-wrapper">
				<ion-col text-center *ngFor="let item of days"
					class="day-selector"
					[class.day-selected]="item.selected"
					(click)="select(item)">
					{{ item.day }}
				</ion-col>
			</div>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Pounds to Lose</ion-label>
          <ion-select name="lossgoal" [(ngModel)]="lossGoal" okText="OK" cancelText="Cancel">
            <ion-select-option 
              *ngFor="let item of lossOptions"
              [value]="item.value">
                {{ item.name}}
              </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="margin-top-20">
      <ion-col size="6" class="margin-auto end-diet-css" (click)="resetDiet()">
        <b>Reset Diet</b>
      </ion-col>
      <ion-col size="6" class="margin-auto  logout"
      (click)="logout()">
       <b>Logout</b>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
