<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="1" (click)="dismiss()">
        <ion-icon class="ion-text-left close-icon" name="close"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>Today</h1>
        <small>{{ todayDate | date: 'longDate' }}</small>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img class="profile-picture" src="assets/img/profile-pic.jpg">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Weight</ion-label>
          <ion-select name="todayWeight" [(ngModel)]="todayWeight" okText="OK" cancelText="Cancel">
            <ion-select-option 
              *ngFor="let item of weightRange"
              [value]="item">
                {{ item }} lbs.
              </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>BMI</ion-label>
          <ion-select name="todayBMI" [(ngModel)]="todayBMI" okText="OK" cancelText="Cancel">
            <ion-select-option 
              *ngFor="let item of bmiRange"
              [value]="item">
                {{ item }}
              </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Body Fat</ion-label>
          <ion-select name="todayFat" [(ngModel)]="todayFat" okText="OK" cancelText="Cancel">
            <ion-select-option 
              *ngFor="let item of fatRange"
              [value]="item">
                {{ item }}
              </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" size="6" class="ion-text-center">
        <ion-button (click)="addMeal()" expand="block" color="primary" class="ion-text-wrap min-max-width">
          Add Meal
        </ion-button>
      </ion-col>
      <ion-col size-sm="6" size="6" class="ion-text-center">
        <ion-button (click)="addWorkout()" expand="expand" color="primary" class="ion-text-wrap min-max-width">
          Add Workout
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer padding class="ion-no-border ion-text-center">
  <ion-button expand="block" color="primary" (click)="sendData()">Update</ion-button>
</ion-footer>
