<ion-content padding class="extra-padding">
  <ion-grid>
    <ion-row class="close-icon-margin">
      <ion-col size="1" (click)="dismiss()">
        <ion-icon class="ion-text-left close-icon" name="close"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1>Add a Meal</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <ion-label position="stacked">Search</ion-label> -->
        <ion-input 
          type="text" 
          placeholder="Enter a search term" 
          name="searchTerm"
          [(ngModel)]="searchTerm"
          (keyup.enter)="searchMeals()">
        <ion-icon ios="ios-search-outline" md="md-search" size="small"></ion-icon>
        </ion-input>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="searchResults">
      <ion-row *ngIf="searchResults.message">
        <ion-col>
          <!-- Nutritionix Results -->
          <h5>{{searchResults.message}}</h5>
        </ion-col>
      </ion-row>

      <div *ngFor="let food of searchResults.foods">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-row>
                <ion-col size="3">
                  <ion-img *ngIf="food.photo.thumb" style="max-width:80px" [src]="food.photo.thumb"></ion-img>
                </ion-col>
                <ion-col class="vertical-center">
                  {{food.serving_qty}} {{food.serving_unit}} {{food.food_name.toLowerCase()}}
                </ion-col>
              </ion-row>
            </ion-card>  
          </ion-col>
        </ion-row>       
      </div>

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button 
            class="add-meal-button" 
            shape="round" 
            expand="block" 
            (click)="addMeal(searchResults.foods)">
            Add
          </ion-button>
        </ion-col>
      </ion-row>

    </ng-container>

    <ion-row>
      <ion-col class="ion-text-center">
        <small>
          No meals added yet.For a low calorie experience try:
        </small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-card">
          <ion-row>
            <ion-col size="3" class="vert-center">
              <img src="assets/img/bang-can.png" />
            </ion-col>
            <ion-col size="9">
              <ion-card-header>
                <ion-card-title>
                  The perfect <br /> 
                  0 cal. drink.
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Bang Energy 12-Pack <br />
                $1.99
                <p class="global-link-wrapper">
                  <a href="" class="global-link">Order Now</a>
                </p>
              </ion-card-content>
            </ion-col>            
          </ion-row>
        </ion-card>   
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <ion-button 
        expand="block" 
        shape="round" 
        (click)="sendData()">
          Save
        </ion-button>
      </ion-col>
    </ion-row> -->

  </ion-grid>

</ion-content>

