<ion-header>
  <ion-toolbar>
    <ion-title>Search for food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar debounce="1000" (ionChange)="searchChanged($event)" [(ngModel)]="searchTerm"
    (ionClear)="clearSearch()">
  </ion-searchbar>

  <ion-list>
    <ion-list-header>
      <ion-label>Suggestions:</ion-label>
    </ion-list-header>
    <ion-item>Meal one of the day can be {{suggestedFoods.mealOne}}</ion-item>
    <ion-item>protein: {{suggestedFoods.proteinMeals}}</ion-item>
    <ion-item>carbs: {{suggestedFoods.carbMeals}}</ion-item>
    <ion-item *ngIf="!suggestedFoods?.fatMeals?.length == 0">fat: {{suggestedFoods.fatMeals}}</ion-item>
  </ion-list>


  <!--for Edamam-->
  <ion-list>

    <!--first item-->
    <ion-item *ngIf="searchResults.parsed && searchResults.parsed.length > 0 && searchResults.parsed[0].measure">
      <ion-label text-wrap>
        <h3>{{searchResults.parsed[0].quantity}} {{searchResults.parsed[0].measure.label}} of {{searchResults.parsed[0].food.label}}</h3>
        <!-- <p>{{item.food_description}}</p> -->
      </ion-label>

      <ion-button slot="end" size="small"
        (click)="edamamAddMeal(searchResults.parsed[0].food.label, searchResults.parsed[0].food.foodId, searchResults.parsed[0].quantity, searchResults.parsed[0].measure.uri)">
        Add</ion-button>
    </ion-item>

    <!--hints loop-->
    <div *ngFor="let hint of searchResults.hints">
        <ion-card>
          <ion-item>
            <ion-label text-wrap>
                <h3>{{hint.food.label.toLowerCase()}}</h3>
                <h3 *ngIf="hint.food.brand">{{hint.food.brand.toLowerCase()}}</h3>
                <h3 *ngIf="hint.food.category">{{hint.food.category.toLowerCase()}}</h3>
              </ion-label>
            <ion-button fill="outline" slot="end" (click)="expandHint(hint)">View</ion-button>
          </ion-item>
        
          <ion-card-content>
            <ion-img *ngIf="hint.food.image" [src]="hint.food.image"></ion-img>
          </ion-card-content>

          <ion-item *ngIf="hint.selected">
              <ion-list>
                <ion-item *ngFor="let measure of hint.measures">
                    <ion-input type="number" value="" [(ngModel)]="measure.quantity" >{{measure.label}}: </ion-input>
                    <ion-button slot="end" size="small" (click)="edamamAddMeal(hint.food.label, hint.food.foodId, measure.quantity, measure.uri)">Add</ion-button>
                </ion-item>
              </ion-list>
            </ion-item>
        </ion-card>

      <!-- <ion-item>
        <ion-label text-wrap>
          <h3>{{hint.food.label}}</h3>
        </ion-label>

        <ion-button slot="end" size="small" (click)="expandHint(hint)">Expand</ion-button>
      </ion-item>

      <ion-item *ngIf="hint.selected">
        <ion-list>
          <ion-item *ngFor="let measure of hint.measures">
              <ion-input type="number" value="" [(ngModel)]="measure.quantity" >{{measure.label}}: </ion-input>
              <ion-button slot="end" size="small" (click)="edamamAddMeal(hint.food.label, hint.food.foodId, measure.quantity, measure.uri)">Add</ion-button>
          </ion-item>
        </ion-list>
      </ion-item> -->
    </div>

  </ion-list>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="cancelModal()">Back</ion-button>
  </ion-toolbar>
</ion-footer>