<ion-header>
  <ion-toolbar>
    <ion-title>Search for food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar debounce="2000" (ionChange)="searchChanged($event)" [(ngModel)]="searchTerm" (ionClear)="clearSearch()" >
  </ion-searchbar>


  <ion-list>
    <div *ngFor="let item of searchResults">
      <ion-item>
        <ion-label text-wrap>
          <h3>{{item.food_name}}</h3>
          <p>{{item.food_description}}</p>
        </ion-label>

        <ion-button slot="end" size="small" (click)="showMoreInfo(item)">Expand</ion-button>
      </ion-item>
      
      <ion-item *ngFor="let serving of item.servings">
      <ion-label text-wrap>
          <h3>{{serving.serving_description}}</h3> <h3 *ngIf="item.brand_name"> - {{item.brand_name}}</h3>
          <p>Calories: {{serving.calories}}, Protein: {{serving.protein}}, Fat: {{serving.fat}}, Carbs: {{serving.carbohydrate}}</p>
        </ion-label>
        <ion-button slot="end" size="small" (click)="addToList(item, serving.calories, serving.protein, serving.fat, serving.carbohydrate )">Add</ion-button>
      </ion-item>

    </div>
  </ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="cancelModal()">Back</ion-button>
  </ion-toolbar>
</ion-footer>