<ion-header padding class="extra-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        class="back-button"
        text=""
        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Rapid Body Remodeling Goals</h1>
        Gaining muscle while losing body fat.
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Target</ion-label>
          <ion-select name="lossgoal" [(ngModel)]="lossGoal" okText="OK" cancelText="Cancel">
            <ion-select-option 
              *ngFor="let item of lossOptions"
              [value]="item.value">
                {{ item.name}}
              </ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && !lossGoal">
          Please select your target weight goal.
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Weigh-in Day(s)
      </ion-col>
    </ion-row>
    <ion-row>
			<div class="day-select-wrapper" (click)="checkDays()">
				<ion-col text-center *ngFor="let item of days; let i of index"
					class="day-selector"
					[class.day-selected]="item.selected"
					(click)="select(item)">
					{{ item.day }}
				</ion-col>
      </div>
      <span class="error ion-padding" *ngIf="isSubmitted && weighinDays.length == 0">
        Please select your weigh in day(s).
      </span>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Weigh-in Time</ion-label>
          <ion-datetime [(ngModel)]="selected_time" display-format="h:mm A" picker-format="h mm A"></ion-datetime>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && !selected_time">
          Please select your weigh in time.
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <small>
          The best time to weigh yourself is first thing in the morning,
          on an empty stomach. For the sake consistency, it is also best to be naked.
          <p>
            While you can weigh in every day if you want, once a week is sufficient. 
            Just remember: don't be ruled by the number on the scale. It is a snapshot in time,
            not an etching in stone.
          </p>
        </small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button 
        expand="block" 
        shape="round" 
        (click)="continue()">
        Continue
      </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border" padding>

</ion-footer>
