<ion-header padding class="extra-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        class="back-button"
        text=""
        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Set Goals</h1>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Body Sculpting Goal</ion-label>
          <ion-select name="lossgoal" [(ngModel)]="lossGoal" okText="OK" cancelText="Cancel">
            <ion-select-option 
              *ngFor="let item of lossOptions"
              [value]="item.value">
                {{ item.name}}
              </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Weigh-in Day
      </ion-col>
    </ion-row>
    <ion-row>
			<div class="day-select-wrapper">
				<ion-col text-center *ngFor="let item of days; let i of index"
					class="day-selector"
					[class.day-selected]="item.selected"
					(click)="select(item)">
					{{ item.day }}
				</ion-col>
			</div>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Weigh-in Time</ion-label>
          <ion-datetime [(ngModel)]="selected_time" display-format="h:mm A" picker-format="h mm A"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <small>
          NOTE: The best time to weigh yourself is fasted, upon waking after you empty your bladder, nude. [need to rewrite this and add jacks one day recommendation]
        </small>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button 
        expand="block" 
        shape="round" 
        (click)="continue()">
        Continue
      </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border" padding>

</ion-footer>
