ion-header ion-toolbar {
  background-color: #0967ec;
  --background: linear-gradient(90deg, rgba(9,103,236,1) 0%, rgba(2,146,253,1) 50%);
}

.header-ios ion-toolbar:last-child {
  border-width: 0;
}

ion-content.hydrated {
  --ion-background-color: rgba(235, 251, 255, 0.0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../../assets/img/blue-background.png");
}

// Needed to color datetime selection
.hydrated {
  color: white;
 
}

/* Set the text color */
ion-select::part(text) {
  color: white;
}

.day-selector {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 10px;
  color: black;
  text-align: center;
  background: white;
  margin: 8px;
  border: 1px solid blue;
  text-transform: uppercase;
}

.day-selected {
  color: white;
  background: blue;
}