<ion-content padding>
  <div class="logo-img-sml">
    <img src="assets/img/login-logo-new.png">
  </div>

  <ion-grid>
    <h1>Set Diet Goals</h1>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Pounds to Lose</ion-label>
          <ion-select name="lossgoal" [(ngModel)]="lossGoal" okText="OK" cancelText="Cancel">
            <ion-select-option 
              *ngFor="let item of lossOptions"
              [value]="item.value">
                {{ item.name}}
              </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="text-center">
          <strong>Weigh-in Days</strong>
        </div>
        <div text-center *ngFor="let item of days; let i of index"
          class="day-selector"
          [class.day-selected]="item.day == weighinDay"
          (click)="select(item.day)">
          {{ item.day }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Weigh-in Time</ion-label>
          <ion-datetime displayFormat="h:mm a" pickerFormat="HH:mm" [(ngModel)]="currentDateTime"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border" padding>
  <ion-button expand="block" class="button icon icon-right ion-home" (click)="continue()">
    Continue
  </ion-button>
</ion-footer>
