<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="cancelModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{workout.name}}</ion-title>

    <ion-img class="nav-logo" src="../../../assets/img/logo-bang-small.png" slot="end"></ion-img>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <img src="http://placehold.jp/300x300.png">
    <ion-card-content>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at
      its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
      opposed to using 'Content here, content here', making it look like readable English.
    </ion-card-content>
    
  </ion-card>



</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="watchonYoutube()">Watch on YouTube</ion-button>
  </ion-toolbar>
</ion-footer>