.register_bt{
    text-transform: uppercase;
    --border-radius: block;
    --ion-color-primary-shade:rgb(84, 163, 247);
  
}
.register_title{
    --background: #8100ac;
    color:white;
    text-transform: uppercase; 

}
.register_back{
    --color:white;
    text-transform: uppercase; 
}

.login_link{
    --ion-color-primary: block;
    color: darkblue;
    font-weight: bold;
}
.register{
    bottom: 0px; position: absolute;margin-left: -15px;
  }

