ion-header ion-toolbar {
    background-color: #0967ec;
    --background: linear-gradient(90deg, rgba(9,103,236,1) 0%, rgba(2,146,253,1) 50%);
}

.header-ios ion-toolbar:last-child {
    border-width: 0;
}

ion-content.hydrated {
    // --ion-background-color: rgba(235, 251, 255, 0.0);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // background-image: url("../../../assets/img/blue-background.png");
}

// ion-input {
//     color: #000;
//     // border-radius: 10px;

//     --padding-start: 0.72rem;
//     --padding-end: 0.72rem;
//     --padding-top: 0.12rem;
//     --padding-bottom: 0.12rem;

//     --border-radius: 10px;
// }

form ion-label {
    color: #fff;
}

ion-item {
    border-radius: 25px;
    --padding-start: 0;
    --ion-safe-area-left: 0;
    --ion-safe-area-right: 0;
    --inner-padding-end: 0;

    --inset-highlight-height: 1px;
    --border-radius: 10px;

    --full-highlight-height: 2px;

    --inner-border-width: 2px;
    --border-color: transparent;
}

.item-label-stacked .sc-ion-input-md-h,
.item-label-stacked .sc-ion-input-ios-h {
    --padding-start: 0.72rem;
    --padding-end: 0.72rem;
    --padding-top: 0.12rem;
    --padding-bottom: 0.12rem;
}

.form ion-item {
    margin-bottom: 0.5rem;
}

ion-input {
    border-radius: 10px;
}

.btn-register {
    --background: #0417c2;
    --border-radius: 10px;

    text-transform: uppercase;
    max-width: 9rem;
    display: block;
    margin: 3rem auto 0;
    border-radius: 10px;
}

.register_title {
    background: transparent;
    color: white;
    text-transform: uppercase;
}

.register_back {
    color: white;
    text-transform: uppercase;
}

ion-footer {
    position: inherit;
}