<ion-header padding class="extra-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        class="back-button"
        text=""
        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="extra-padding">
  <form 
    class="form" 
    [formGroup]="registerForm" 
    (ngSubmit)="register()">
    <ion-grid>

      <ion-row>
        <ion-col>
          <h1>Register</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label position="stacked">First Name</ion-label>
          <ion-input type="text" placeholder="Enter first name" formControlName="first_name">
            <ion-icon name="person" size="small"></ion-icon>
          </ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.first_name.errors?.required">
            Please enter your first name.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.first_name.errors?.pattern">
            Please use letters.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input type="text" placeholder="Enter last name" formControlName="last_name">
            <ion-icon name="person" size="small"></ion-icon>
          </ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.last_name.errors?.required">
            Please enter your last name.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.last_name.errors?.pattern">
            Please use letters.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" placeholder="Enter email" formControlName="email">
            <ion-icon name="mail" size="small"></ion-icon>
          </ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Please enter your email address.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.email">
            Please provide a properly formatted email address.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" placeholder="Enter password" formControlName="password">
            <ion-icon name="lock" size="small"></ion-icon>
          </ion-input>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
            Please enter your password.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
            Your password does not meet length requirements.
          </span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <small>
            <a class="register-link" [routerLink]="['/terms']">
              Terms & Conditions
            </a>
          </small>
          <br />
          <ion-item>
            <small>
              I agree. 
            </small>
            <ion-checkbox slot="start" color="primary"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button 
            expand="block"
            type="submit"  
            shape="round">
            Create Account
          </ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </form>
</ion-content>
