<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding (swipeleft)="handleSwipeLeft()" (swiperight)="handleSwipeRight()">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-icon *ngIf="day == 'today' || day == 'tomorrow'" (click)="handleSwipeRight()" name="arrow-dropleft"
      slot="start"></ion-icon>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{day}} score {{score}}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="dayNumber>84; else templateName">
        Congratulations!<br>
        You have completed the The Meltdown Anti-Diet!
      </ion-card-content>
      <ng-template #templateName>
        <ion-card-content>
          Day {{dayNumber}} of 84 day program
        </ion-card-content>
      </ng-template>

    </ion-card>
    <ion-icon *ngIf="day == 'today' || day == 'yesterday'" (click)="handleSwipeLeft()" name="arrow-dropright"
      slot="end"></ion-icon>
  </ion-toolbar>


  <div style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
    </canvas>
  </div>

  <ion-item>
    <ion-label>20 min workout complete</ion-label>
    <ion-toggle disabled [(ngModel)]="workout_completed"></ion-toggle>
  </ion-item>

  <div>
    <p *ngIf="dayNutritionInfo.daynutrition.hasOwnProperty('fat'); else nofattemplate">
      <!--days with w fat-->
      Day {{dayNumber}} consist of {{dayNutritionInfo.daynutrition.protein}}% protein
      {{dayNutritionInfo.daynutrition.carbs}}% carbs and {{dayNutritionInfo.daynutrition.fat}}% fat.
    </p>
    <ng-template #nofattemplate>
      <p>
        Day {{dayNumber}} consist of {{dayNutritionInfo.daynutrition.protein}}% protein
        {{dayNutritionInfo.daynutrition.carbs}}% carbs (5%+/- Dietary Fat that occur naturally in the
        Protein and Carbohydrate food sources).
      </p>
    </ng-template>

    <p>Try to eat at elast 40g of protein per meal.</p>
    <!-- <p>Current protein:{{caloriesFromProteinAsP}}%, carbs:{{caloriesFromCarbsAsP}}%, fat:{{caloriesFromFatAsP}}%</p> -->
  </div>




  <p>Target calories to loose weight:{{dietCaloriesIntake}}</p>
  <p>Cosnusmed so far:{{caloriesConsumed}}</p>


  <!-- See https://www.npmjs.com/package/ng-circle-progress for settings -->
  <circle-progress [backgroundColor]="circlecolor" [percent]="percent" [subtitle]="circlesubtitle"></circle-progress>
</ion-content>