<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding (swipeleft)="handleSwipeLeft()" (swiperight)="handleSwipeRight()">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-icon *ngIf="day == 'today' || day == 'tomorrow'" name="arrow-dropleft" slot="start"></ion-icon>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{day}} Info</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="dayNumber>84; else templateName">
        Congratulations!<br>
        You have completed the The Meltdown Anti-Diet!
      </ion-card-content>
      <ng-template #templateName>
        <ion-card-content>
          Day {{dayNumber}} of 84 day program
        </ion-card-content>
      </ng-template>

    </ion-card>
    <ion-icon *ngIf="day == 'today' || day == 'yesterday'" name="arrow-dropright" slot="end"></ion-icon>
  </ion-toolbar>


  <!-- Segment choice-->
  <ion-segment [(ngModel)]="segment_choice">
    <ion-segment-button value="nutrition">
      <ion-label>Nutrition</ion-label>
    </ion-segment-button>
    <ion-segment-button value="workout">
      <ion-label>Workout</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!--Nutrition segment-->
  <div *ngIf="segment_choice == 'nutrition'">

    <p *ngIf="dayNutritionInfo.daynutrition.hasOwnProperty('fat'); else nofattemplate"><!--days with w fat-->
      Day {{dayNumber}} consist of {{dayNutritionInfo.daynutrition.protein}}% protein {{dayNutritionInfo.daynutrition.carbs}}% carbs and {{dayNutritionInfo.daynutrition.fat}}% fat.
    </p>
    <ng-template #nofattemplate>
      <p>
        Day {{dayNumber}} consist of {{dayNutritionInfo.daynutrition.protein}}% protein {{dayNutritionInfo.daynutrition.carbs}}% carbs (5%+/- Dietary Fat that occur naturally in the
        Protein and Carbohydrate food sources).
      </p>
    </ng-template>

    <p>Current protein:{{caloriesFromProtein}}%, carbs:{{caloriesFromCarbs}}%, fat:{{caloriesFromFat}}%</p>

    <!--Food toggles loop-->
    <ion-list>
      <ion-item *ngFor="let meal of meals" (press)="presentActionSheet(meal.id, meal.meal_name)">
        <ion-label>{{meal.meal_name}}</ion-label>
        <ion-toggle [checked]="meal.isChecked" [disabled]="disabletoggles"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="day != 'yesterday'">
      <ion-button (click)="addFoodModal()">Add food</ion-button>
    </ion-item>

  </div>
  <!--End segments-->

  <!--Workout segment-->
  <div *ngIf="segment_choice == 'workout'">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <ion-list>
      <ion-item>
        <ion-label>Bench Press</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Squads</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-button>Add exercise</ion-button>
    </ion-item>
  </div>
  <!--End segments-->

  <p>Target calories to loose weight:{{dietCaloriesIntake}}</p>
  <p>Cosnusmed so far:{{caloriesConsumed}}</p>


  <!-- See https://www.npmjs.com/package/ng-circle-progress for settings -->
  <circle-progress [backgroundColor]="circlecolor" [percent]="percent" [subtitle]="circlesubtitle"></circle-progress>
</ion-content>