.home{
 
    margin-bottom: 15px;
    --border-radius: 10px;
}
.today{
    --background: rgb(226, 246, 250);
}
.tomorrow{
    --background:rgb(211, 247, 255);
}
.yesterday{
    --background:rgb(232, 244, 247);
}
.home_day{
   color: rgb(67, 66, 66);
   text-align: center;
}
.program{
   font-weight: bold;
   color: rgb(74, 74, 74);
}

.day{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.dayNumber{
    font-size: 22px;
    font-weight: bold;
}
.workout{
    color: rgb(74, 74, 74);
    font-weight:500; 
}
.home_totalCol,.home_day_2,.home_day_3{
    color: rgb(67, 66, 66);
}
.home_totalCol{
    margin-left: 15px;
}
.home_day_2{
    font-size: 18px;
    font-weight: bold;
}
.home_day_3{
    font-size: 12px;
    font-weight: bold;
}
.home_text3{
    font-size: 14px;
}
.home_text2{
    font-size: 12px;
}
.bg-color{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    --background:rgb(0, 198, 242);
    
}
ion-content.img{
    filter:none; 
}
@media only screen and (min-width: 700px) {
    .workout{
        font-size: 22px;
    }
    .home_text3{
        font-size: 18px;
    }
    .home_text2{
        font-size: 14px;
    }
  }