$fontGrayColor : rgb(67, 66, 66);
$red : rgb(211, 0, 0);

.day-block{
    margin-bottom: 1em;
    --border-radius: 0.1rem;
}

.home_day.dayNumber, .day {
   color: $fontGrayColor;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
}

.dayNumber{
    font-size: 22px;
}

.workout, .maxCalories{
    font-weight:500; 
}

.maxCalories{
    color: $fontGrayColor;
}

.heart{
    color: $red;
}

.dayNumber_2{
    font-size: 18px;
    font-weight: bold;
}

.totalDayProgram{
    font-size: 12px;
    font-weight: bold;
}

.arrow-back,.arrow-forward{
    font-size:25px;  
    color: $fontGrayColor;
}


  