<ion-app>

  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar >
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
            <ion-item [routerLink]="['/home', 'today']" >Home</ion-item>
        </ion-menu-toggle>
        <!--<ion-menu-toggle>
            <ion-item [routerLink]="['/track']" >Track</ion-item>
        </ion-menu-toggle> -->
        <ion-menu-toggle>
            <ion-item [routerLink]="['/', 'track-meal', '']" >Track Meal</ion-item> 
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item [routerLink]="['/track-workout', '']" >Track Workout</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
            <ion-item [routerLink]="['/track-progress']" >Track Progress</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/alerts']" >Alerts</ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/calendar']" >Calendar</ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item  *ngIf="loggedin" (click)="logout()" >Log out</ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
