<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (swiperight)="handleSwipeRight()">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tomorrow's Nutrition and Workout Info</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      CCC
    </ion-card-content>
  </ion-card>


  <!-- Default Segment -->
  <ion-segment [(ngModel)]="segment_choice">
    <ion-segment-button value="nutrition">
      <ion-label>Nutrition</ion-label>
    </ion-segment-button>
    <ion-segment-button value="workout">
      <ion-label>Workout</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment_choice == 'nutrition'">
    <p>
        Non odio euismod lacinia at quis risus. Scelerisque felis imperdiet proin fermentum leo vel orci. Massa sed elementum tempus egestas sed sed risus pretium quam. Cras fermentum odio eu feugiat pretium nibh. 
    </p>
  </div>
  <div *ngIf="segment_choice == 'workout'">
    <p>
        Enim nulla aliquet porttitor lacus luctus accumsan. Habitasse platea dictumst vestibulum rhoncus est pellentesque.
    </p>
  </div>

</ion-content>