<ion-content padding class="extra-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>
          Hey, We Get It, We All Need a Do-over From Time to Time
        </h1> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        If you need a little extra boost, remember we have a lot of great supplements to help you on your journey to better health. The stacks below were scientifically formulated to help you attain the physique you've always dreamed of.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3>What You'll Need</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-card">
          <img src="./madison.jpg" />
          <ion-card-content>
            The Bang Anti-Diet Starter Pack<br />
            $XXX.00
          </ion-card-content>
          <ion-card-header>
            <p>
              <a href="" class="global-link">Order Now</a>
            </p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button 
          expand="block"
          shape="round" 
          (click)="begin()">
          Let's Begin
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
