<ion-header>
  <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" value=""></ion-input>
  </ion-item>


  <ion-button expand="block" (click)="login()">Login</ion-button>
  <ion-button expand="block" >Login via Social media</ion-button>
</ion-content>