.book-img {
    padding: -24px;
}

.social-icons {
	padding-right: 2px;
	width: 60px;
	// box-shadow: 0 2px 12px 0 rgba(0,0,255,0.25);
	border: 1px solid #777;
	border-radius: 50%;
	height: 60px;
	margin: 6px;
	outline: none;
}
