<ion-content padding class="extra-padding">
  <ion-grid>
		<ion-row class="close-icon-margin">
			<ion-col size="1" (click)="dismiss()">
				<ion-icon class="ion-text-left close-icon" name="close"></ion-icon>
			</ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <h1>
          Body Fat Info
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Vital Pharmaceuticals, Inc., d/b/a VPX Sports (“VPX,” “we,” “us,” or “our”) owns and operates this website, vpxsports.com.  These Terms and Conditions – General (“Terms of Use”) apply to the website located at vpxsports.com and all associated websites owned or operated by VPX which are linked to vpxsports.com (collectively referred to as the “Site”).  BY USING THIS SITE, YOU AGREE THAT YOU HAVE THOROUGHLY READ AND UNDERSTAND THE TERMS OF USE.  IF YOU DO NOT UNDERSTAND OR AGREE TO THESE TERMS OF USE, DO NOT USE THIS SITE.
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>