<ion-header padding class="extra-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        class="back-button"
        text=""
        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="extra-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Reset Password</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form class="form">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" placeholder="Enter email" name="email" ([ngModel])="email">
            <ion-icon name="mail" size="small"></ion-icon>
          </ion-input>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          Hey, we're all a little forgetful.
        </p>
        <p>
          Add your email and we’ll sendyou a password reset email!
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-col>
          <ion-button 
            expand="block"
            (click)="resetPassword()"  
            shape="round">
            Reset
          </ion-button>
        </ion-col>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
