<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Track Workout</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding (swipeleft)="handleSwipeLeft()" (swiperight)="handleSwipeRight()"> -->
<ion-content padding>
<ion-toolbar style="--background: rgb(226, 246, 250);" >
    <ion-icon name="arrow-back" slot="start" (click)="handleSwipeRight()" style="font-size: 25px;  color: rgb(67, 66, 66);"></ion-icon>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align:center;color: rgb(67, 66, 66);" > DAY {{dayNumber}} <br/> <span style = "font-size:18px; ">{{day}}</span></ion-card-title>
      </ion-card-header>
        
      <ion-card-content   style="text-align:center; color: red; font-weight: bold" *ngIf ="caloriesConsumed > 0 && status == 'BAD'">
       <strong> Current progress <br/> <span style="font-size: 22px">{{status}} </span></strong> 
      </ion-card-content>

      <ion-card-content   style="text-align:center; color: #2FB202; font-weight: bold" *ngIf ="caloriesConsumed > 0 && status == 'GOOD'">
        <strong> Current progress <br/> <span style="font-size: 22px">{{status}} </span></strong> 
       </ion-card-content>

    </ion-card>
    <ion-icon name="arrow-forward" slot="end" (click)="handleSwipeLeft()" style="font-size: 25px;  color: rgb(67, 66, 66);"></ion-icon>
  </ion-toolbar>


  <ion-item style="font-weight:700; margin-top: 10px; font-size: 18px; color: rgb(67, 66, 66);">
      <ion-label  >
            Workout List
      </ion-label>
  </ion-item>

  <ion-item lines="none" style="padding-top:15px; font-size: 14px; text-transform :lowercase;  ">
    <ion-list>
      <ion-item-sliding *ngFor="let exercise of exercises">
        <ion-item>
          <ion-label style=" color: rgb(67, 66, 66);"> - {{exercise.exercise_name}}</ion-label>
        </ion-item>
        <ion-item-options *ngIf="today" side="end">
          <ion-item-option color="danger" (click)="removeExercise(exercise.id)"><ion-icon name="trash"></ion-icon></ion-item-option>
          <!-- <ion-item-option (click)="editMeal(meal)">Edit</ion-item-option> -->
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-item>

  <ion-item *ngIf="today" lines="none" >
      <ion-button (click)="openExerciseModal()">Add workout</ion-button>
    </ion-item>
  
</ion-content>