<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Workout</ion-title>

    <ion-img class="nav-logo" src="../../../assets/img/logo-bang-small.png" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>



<ion-content padding>


  <!-- Ion Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <!-- Day Change Slider -->
  <ion-toolbar class="day-change-slider" (swipeleft)="handleSwipeLeft()" (swiperight)="handleSwipeRight()">
      <ion-card>
          <ion-icon class="arrow-back" *ngIf="dayNumber > 1" (click)="handleSwipeRight()" name="arrow-back" slot="start"></ion-icon>
          <section>
              <ion-card-header>
                  <ion-card-title class="dc-slider-title-label">{{day}} <span *ngIf = "!day">DAY {{dayNumber}} </span></ion-card-title>
              </ion-card-header>
              <ion-card-content class="dc-slider-title">
                  <div class="date-long-form">Thurs, Nov 21, 2020</div>
              </ion-card-content>
          </section>
          <ion-icon class="arrow-forward" *ngIf="!today" (click)="handleSwipeLeft()" name="arrow-forward" slot="end"></ion-icon>
      </ion-card>
  </ion-toolbar>



  <!-- Title Bar -->
  <div class="title-bar">

    <h3>Workout List</h3>
    <div class="icons">
      <ion-icon class="icon" name="pulse"></ion-icon>
      <ion-icon class="icon heart" name="heart"></ion-icon>
    </div>
    
  </div>



  <!-- Workout List -->
  <ion-list class="workoutList">

    <ion-item *ngIf="exercises.length > 0" class="list-header">
      <h3 class="text-center text-white">Total Calories Burned Today: <strong>333</strong></h3>
    </ion-item>

    <ion-item-sliding *ngFor="let exercise of exercises">
      <ion-item class="workoutListBkg">
        <ion-label class= "meal">{{exercise.exercise_name}} {{exercise.minutes}} minutes  <span>{{exercise.calories_burned}} cal</span></ion-label>
      </ion-item>

      <ion-item-options *ngIf="today" side="end">
        <ion-item-option color="danger" (click)="removeExercise(exercise.id)"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>


  <!-- Footer Section -->
  <section class="content-footer">
    <ion-button expand="full" (click)="openExerciseModal()" class="btn btn-round" shape="round">Add workout</ion-button>
  </section>



</ion-content>


