<ion-header>
  <ion-toolbar>
    <ion-title>Search excercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar (search)="searchExercises($event)" [(ngModel)]="searchTerm" (ionClear)="clearSearch()"></ion-searchbar>


  <ion-list>
    <div *ngFor="let exercise of searchResults.exercises">
        <ion-card>
          <ion-item>
              <ion-img *ngIf="exercise.photo.thumb" style="max-width:80px" [src]="exercise.photo.thumb"></ion-img>
            <ion-label text-wrap>
                <h3>{{exercise.name.toLowerCase()}} {{exercise.duration_min}} minutes</h3>
            </ion-label>
          </ion-item>
        </ion-card>
    </div>
    <ion-button *ngIf="searchResults.exercises?.length > 0" slot="end" size="small" (click)="addExercise(searchResults.exercises)" >Add</ion-button>
  </ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="cancelModal()">Back</ion-button>
  </ion-toolbar>
</ion-footer>