<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Track Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--   <ion-virtual-scroll [items]="items">
    <ion-item *virtualItem="let item">
      <ion-label>{{item.registered.date}}</ion-label>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-virtual-scroll> -->


  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let image of images">
        <ion-img [src]="image.url"></ion-img>
    </ion-slide>
  </ion-slides>



  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item>
    <ion-label>Select existing</ion-label>
    <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
  </ion-item>

</ion-content>