<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>Track Progress</ion-title>

    <ion-img class="nav-logo" src="../../../assets/img/logo-bang-small.png" slot="end"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Ion Slides -->
  <ion-slides [options]="sliderOpts">
    <ion-slide *ngFor="let image of images">

      <!-- Ion Slide -->
      <div class="slider-image">
        
        <ion-icon class = "close" (click)="deleteImage(image.id)" color="danger" name="close-circle"></ion-icon>
        <ion-img class="img-box" [src]="image.url"></ion-img>

        <header>
          <h3>{{image.human_date}}</h3>
          <div class="slider-image-body-fat">{{image.fat_percent}}% Body Fat</div>
          <p class="slider-image-comment">{{image.comment}}</p>
        </header>

      </div>

    </ion-slide>
  </ion-slides>
</ion-content>


<!-- Footer -->
<ion-footer >  
  <ion-button expand="block" (click)="openPhotoModal()">Add photo</ion-button>
</ion-footer>