<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Track Progress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--   <ion-virtual-scroll [items]="items">
    <ion-item *virtualItem="let item">
      <ion-label>{{item.registered.date}}</ion-label>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-virtual-scroll> -->

  <ion-item>
    <ion-label id="profile_image" color="primary" stacked>Profilbild wählen</ion-label>
    <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
  </ion-item>

  <img src="http://3.17.161.217/md-app/user_images/17708/lion_80c4a6bf8a9f3b689d99.jpg?token=1234" alt="Smiley face"> 


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>