// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


$fontBold : bold;

////////////////////////////////////////
//calender CSS override

/* monthview-primary-with-event
The date that is in current month and having events

monthview-secondary-with-event
The date that is in previous/next month and having events

monthview-selected
The selected date

monthview-current
The current date

monthview-disabled
The disabled date */

.monthview-current.monthview-current {
    background-color: rgb(199, 198, 198) !important;
    color: black !important;
}
.monthview-selected {
    background-color: rgba(199, 198, 198, 0.3) !important;
    color: black !important;
}
.monthview-primary-with-event {
    background-color: white !important;
    color: black !important;
}
.monthview-secondary-with-event {
    background-color: white !important;
    color: black !important;
}

app-home {
    position: relative;
}
ion-content {
    --ion-background-color: rgba(235, 251, 255, 0.79);
    background-image:url("./assets/img/book-smoke-mobile.jpg") ;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
}
ion-header ion-toolbar,
ion-button { 
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    --background:rgb(0, 198, 242);
}
.img {
    position: absolute;
    bottom: 0px;
    max-width: none;
}
.footer ion-button {
    font-weight: $fontBold;
}
.day_box{
    --background: rgb(226, 246, 250);
}

@media only screen and (min-width: 700px) {
    ion-content { 
        background-image:url("./assets/img/book-smoke-ipad.jpg") ;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-size: contain;
    }
}


// ion-page.login {
//     background-image: url('assets/img/jack.jpg');
// }

// ion-content {
//     background-image: url("./assets/img/book-smoke-mobile.jpg") ;
// }



.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.text-white { color: #fff; }
.text-black { color: #000; }
