fieldset {
  border: none;

  .common-input {
    background-color: #ebebeb;
    border-radius: 6px;
    padding: 0.21rem 0.42rem;
  }
  .height-input {
    background-color: #ebebeb;
    border: solid 1px #b7b7b7;
    border-radius: 6px;
    padding: 0.21rem 0.42rem;
    max-width: 19vw;
  }
  .dob-input {
    background-color: #ebebeb;
    border: solid 1px #b7b7b7;
    border-radius: 6px;
    padding: 0.21rem 0.42rem;
  }
}

.profile-header {
  height: 25%;
}
.measurement-table {
  border: none;
  width: 80%;
  p {
    text-align: center;
    font-weight: bold;
  }
}
.profile-img-bg {
  position: sticky;
  color: white;
  font-weight: bolder;
  height: 92%;
  background-color: #5d5df1;
  clear: both;
  text-align: center;
  border-bottom-left-radius: 1000px 250px;
  border-bottom-right-radius: 1000px 250px;
  box-shadow: 4px antiquewhite !important;
  -webkit-box-shadow: -7px 37px 62px -10px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -7px 37px 62px -10px rgba(0, 0, 0, 0.53);
  box-shadow: 4px 4px 32px 4px rgba(0, 0, 0, 0.53);
}
.profile-img {
  text-align: center !important;
  margin: 0 auto;
  margin-top: -4em;
  visibility: auto;
  width: 100% !important;
  height: 100% !important;
  max-width: 100px !important; //any size
  max-height: 100px !important;
}
.measurements-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.action-button {
  justify-content: flex-end;
}
.save-button {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(8, 8, 133);
  color: white !important;
  width: 10%;
  border-radius: 18%;
  font-weight: bold;
}
.measurement-footer {
  text-align: center !important;
  margin: 0 auto;
}
.btn-wrapper {
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.imagetext {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.profile-img:hover .overlay {
  opacity: 4;
}
.profile-img {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
#add {
  width: 60%;
  height: 25px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}
ion-item:first-child {
  --border-top-width: 0;
}
ion-select,
ion-datetime,
ion-input {
  border: 0.1px solid #6363;
  border-radius: 12px;
}
