<ion-header padding class="extra-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        class="back-button"
        text=""
        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="extra-padding">
  <form
    [formGroup]="measurementsForm"
    (ngSubmit)="submitMeasurements()"
    class="form"
  >
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Enter Your Measurements</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Age</ion-label>
            <ion-select name="age" formControlName="age" okText="OK" cancelText="Cancel">
              <ion-select-option 
                *ngFor="let item of ageOptions"
                [value]="item">
                  {{ item }}
                </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select name="gender" formControlName="gender" okText="OK" cancelText="Cancel">
              <ion-select-option 
                *ngFor="let item of genderOptions"
                [value]="item.value">
                  {{ item.option }}
                </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Height</ion-label>
            <ion-select name="height" formControlName="height" okText="OK" cancelText="Cancel">
              <ion-select-option 
                *ngFor="let item of heightOptions"
                [value]="item.valueInches">
                  {{ item.option }}
                </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Weight</ion-label>
            <ion-select name="weight" formControlName="weight" okText="OK" cancelText="Cancel">
              <ion-select-option 
                *ngFor="let item of weightOptions"
                [value]="item">
                  {{ item }}
                </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Activity Level</ion-label>
            <ion-select name="activity" formControlName="activity" okText="OK" cancelText="Cancel">
              <ion-select-option 
                *ngFor="let item of activityOptions"
                [value]="item.value">
                  {{ item.level }}
                </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Diet Plan</ion-label>
            <ion-select name="plan" formControlName="plan" okText="OK" cancelText="Cancel">
              <ion-select-option 
                *ngFor="let item of planOptions"
                [value]="item.value">
                  {{ item.option }}
                </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button 
            expand="block"
            type="submit"  
            shape="round">
            Save
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
