<ion-header [translucent]="true" class="profile-header">
  <div class="profile-img-bg">
    <div class="row" style="padding-top: 33px">
      <!-- <div
        style="margin-top: auto; margin-bottom: auto; margin-left: 10px"
        (click)="goBackToHome()"
      >
        <ion-icon
          ios="ios-close"
          md="md-close"
          style="color: white; color: white; font-size: 38px"
        ></ion-icon>
      </div> -->
      <ion-buttons slot="start" style="width: 10%;">
        <ion-back-button type="button" defaultHref="/home/today"></ion-back-button>
    </ion-buttons>
      <div
        style="
          z-index: -1 !important;
          color: white;
          font-size: 23px;
          margin: auto;
          margin-bottom: auto;
        "
      >
      ENTER MEASUREMENTS
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <ion-avatar class="profile-img">
      <input
        type="file"
        id="imageUpload"
        accept=".png, .jpg, .jpeg"
        #fileInput
        (change)="uploadFile($event.target.files)"
        style="display: none"
      />
      <img
        alt="Avatar"
        class="image"
        src="{{imageUrl}}"
        style="border: 2px solid #3880ff"
      />
    </ion-avatar>
  </div> -->
  <!-- <div style="text-align: center">
    <ion-label
      *ngIf="!isImageUploaded"
      style="
        font-family: unset;
        font-weight: bolder;
        font-size: 17px;
        text-align: center;
        color: black;
      "
      (click)="fileInput.click()"
    >
      Upload Photo
    </ion-label>
  </div> -->
</ion-header>
<ion-content padding style="--padding-top:0px">
  <form
    [formGroup]="measurementsForm"
    (ngSubmit)="submitMeasurements()"
    class="measurements-form"
  >
    <ion-grid
      style="
        padding-inline-end: 0px;
        padding-inline-start: 0px;
        padding: 0px;
        --padding-start: 0px;
        --padding-end: 0px;
        --padding-top: 0px;
        margin: unset;
        --padding-bottom: 0px;
      "
    >
      <ion-row style="margin-top: 20px">
        <ion-col>
          <ion-label for="heightFeet" style="padding: 5px;">Height</ion-label>
          <ion-row>
            <ion-col style="font-size: smaller" size="6">
              <ion-select
                add
                class="form-control"
                placeholder="Feet"
                name="heightFeet"
                formControlName="heightFeet"
              >
                <ion-select-option
                  *ngFor="let option of heightFeetOptions"
                  value="option"
                  >{{option}}</ion-select-option
                >
              </ion-select>
            </ion-col>
            <ion-col  style="font-size: smaller">
              <ion-select
                class="form-control"
                placeholder="Inches"
                name="heightInches"
                formControlName="heightInches"
              >
                <ion-select-option
                  *ngFor="let option of heightInchesOptions"
                  value="option"
                  >{{option}}</ion-select-option
                >
              </ion-select>
            </ion-col>
           
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-label for="age" style="padding: 5px;">Age</ion-label>
          <ion-input
            type="number"
            min="0"
            max="1000"
            name="weight" placeholder ="Age"
            formControlName="weight" style="margin-top: 5px;"
          ></ion-input>
        </ion-col>
      </ion-row>
     

      <ion-row>
        <ion-col >
          <div for="weight" style="margin: 5px 0px">Weight (lbs)</div>
          <ion-input
            type="number"
            min="0"
            max="1000"
            name="weight"
            formControlName="weight"
          ></ion-input>
        </ion-col>

        <!-- <ion-col col-6>
          <div for="target_weight" style="margin: 5px 0px">
            Target Weight (lbs)
          </div>
          <ion-input
            type="number"
            min="0"
            max="1000"
            name="target_weight"
            formControlName="target_weight"
          ></ion-input>
        </ion-col> -->
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <div for="gender">Gender</div>
          <ion-select
            name="gender"
            formControlName="gender"
            placeholder="Select"
          >
            <ion-select-option value="M">Male</ion-select-option>
            <ion-select-option value="F">Female</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col col-6>
          <ion-label for="plan">Plan</ion-label>
          <ion-select name="plan" formControlName="plan" placeholder="Select">
            <ion-select-option value="7">7 week</ion-select-option>
            <ion-select-option value="12">12 week</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-label for="activity">Activity Level</ion-label>
          <ion-select
            name="activity"
            formControlName="activity"
            placeholder="Select"
          >
            <ion-select-option value="1.2000">Sedentary</ion-select-option>
            <ion-select-option value="1.3750"
              >Light Exercise 1-3 days/w</ion-select-option
            >
            <ion-select-option value="1.5500"
              >Moderate Exercise 3-5 days/w</ion-select-option
            >
            <ion-select-option value="1.7250"
              >Hardcore Exercise or Sports 6-7 days/w</ion-select-option
            >
            <ion-select-option value="1.9000"
              >Hardcore Exercise 6-7 days/w + labor intensive
              job</ion-select-option
            >
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
<ion-row>
  
  <ion-col >
    <ion-button expand="full" type="submit" class="action-button"
      >{{action}}</ion-button>
  </ion-col>
  <ion-col >
    <ion-button expand="full" (click)="onClickDiet()" class="action-button"
      >Next</ion-button>
  </ion-col>
</ion-row>
    <!-- <ion-button *ngIf="action == 'update'" expand="full" (click)="goBack()"
      >Cancel</ion-button -->
  </form></ion-content
>
