<ion-header padding class="extra-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        class="back-button"
        text=""
        icon="arrow-round-back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="extra-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>
          Privacy Policy
        </h1>
        <p>Effective Date: November 1, 2020</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          This Privacy Policy (“Policy”) describes the Personal Information collected by or on behalf of Bang Energy (“Company,” “we,” “us,” or “our”) through The Bang Anti-Diet mobile application (“App”) and our interactions with you, and how Personal Information is used, shared and protected.  
        </p>
        <p>
          We may modify this Policy at any time. All changes will be effective immediately upon posting to the link on the App to the Policy.  
        </p>
        <p>
          If you use the App, you must comply with our Terms and Conditions (“Terms”).   
        </p>
        <p>
          CATEGORIES OF PERSONAL INFORMATION WE COLLECT
        </p>
        <p>
          We may collect the following categories of information: 
        </p>
        <p>
          Identifiers such as first name, last name, alias, unique personal identifiers, online identifiers including usernames for Social Media, internet protocol address (“IP Address”), account username and password. 
        </p>
        <p>
          Contact Information, including postal address (street address, city, state, postal zip, country), telephone number, and email address. 
        </p>
        <p>
          Customer Records, including bank account number, tax identification number, credit card or debit card number and signature.  
        </p>
        <p>
          Demographic Information, including age, gender, status as a teacher or a student, and veteran or military status.  
        </p>
        <p>
          Commercial Information, including products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.   
        </p>
        <p>
          Device and Usage Information, including browsing history, search history, and information regarding a consumer’s interaction with an internet website, application, or advertisement, operating system, platform and device type.  
        </p>
        <p>
          Location Data, through GPS or browser.  
        </p>
        <p>
          Inferences drawn from any of the information identified in this section to make recommendations based on the consumer’s preferences.  
        </p>
        <p>
          This Policy does not apply to any information that is publicly available.   
        </p>
        <p>
          CATEGORIES OF SOURCES 
        </p>
        <p>
          We may collect information from the following categories of sources: 
        </p>
        <p>
          Directly From You. We collect Personal Information that you provide directly to us to use certain features of the App, for example, to create online accounts, purchase products or services, contact us via email, phone, or our Contact Us form (where we may retain the content of your message and our response), receive or request data from us (e.g., catalogs and newsletters), and respond to communications from us (e.g., surveys and promotional offers).  
        </p>
        <p>
          Company Accounts.  To create an online account with the Company, you must submit your name and email address, and create a password. This data is used to populate a profile within your account. 
        </p>
        <p>
          Order & Payment Data.  When you make a purchase online, we use a third-party payment processor to help us facilitate payment.  We do not receive your credit card, debit card or other financial information when you make a payment- such information is provided directly to the payment processor.  However, we do receive information about your purchase and your contact information (e.g. name, email address, mailing address, phone number).   
        </p>
        <p>
          Marketing Communications.  If you opt-in to receive marketing communications from us, you must submit your name, email address, mailing address, and phone number. We use this data to send you promotional and other electronic and hardcopy communications. We may use third-parties or service providers to deliver communications to you.  
        </p>
        <p>
          Feedback.  When you provide comments or feedback about our App, the content of our App, or our products or services ("Feedback"), we will not treat that Feedback as confidential and we may use that Feedback for any purpose in our sole discretion so long as it does not personally identify you. Feedback will be used without attribution or compensation to you. 
        </p>
        <p>
          Giveaways, Sweepstakes & Contests.  We may offer giveaways, sweepstakes or contests. To participate you must submit certain data, which may include your first and last name, email address, phone number, physical address (street address, city, state, postal/zip, country), Instagram name, confirmation that you are over 18 years of age, and other Personal Information. Data collected via giveaways, sweepstakes and contests will be :info: used to contact you with promotional and related communications, (ii) shared with third parties and/or service providers, and (iii) subject to additional terms provided to you at such time. 
        </p>
        <p>
          Personal Information Collected Automatically.  We automatically collect certain information from you when you access our App. 
        </p>
        <p>
          Account Activity.  We may collect data about how you use your online account for the App when you are logged into your account. We may combine data automatically collected from you with other Personal Information about you. 
        </p>
        <p>
          Cookies & Other Tracking Technologies. We may use cookies, web beacons, pixel tags and other tracking technologies (collectively “Cookies”) on our App.  
        </p>
        <p>
          What are cookies and web beacons / pixel tags? A cookie is a small text file that our App saves onto your computer or device when you use the App that provides us certain information about your activities. Cookies allow the App to remember your actions and preferences and recognize you or your browser. Web beacons / pixel tags are small graphics on a webpage that monitor your activity when viewing a webpage. 
        </p>
        <p>
          Why do we collect Cookies? We use Cookies to: 
        </p>
        <ul>
          <li>
            make our App function properly;
          </li>
          <li>
            provide personalized experiences;
          </li>
          <li>
            tailor our interactions with you, including remembering the information that you have already provided to us; 
          </li>
          <li>
            help with our marketing efforts; 
          </li>
          <li>
            provide us with valuable data and statistics about the usage and effectiveness of our App and to help us improve our App; and 
          </li>
          <li>
            help us improve our services.
          </li>
        </ul>
        <p>
          What type of information do Cookies collect? The Cookies on our App may collect information such as: 
        </p>
        <ul>
          <li>
            the IP addresses assigned to the computers and other devices you use;
          </li>
          <li>
            your internet service provider;
          </li>
          <li>
            the device ID number; 
          </li>
          <li>
            approximate geographic location; 
          </li>
          <li>
            the date and time you visited the App, and the amount of time spent on the App; 
          </li>
          <li>
            your operating system, browser type, search requests, and other similar information;
          </li>
          <li>
            the websites you access before and after visiting the App, and 
          </li>
          <li>
            data related to how and when you use the App. 
          </li>
        </ul>
        <p>
          We may combine information from Cookies with Personal Information, including data obtained from other sources.  
        </p>
        <p>
          How long do Cookies last? A Cookie can either be a “session” Cookie or a “persistent” Cookie. Session Cookies exist only for so long as you are visiting the applicable App and are typically deleted when you exit your web browser. Persistent Cookies exist for a set period of time, for example, up to several months or years. Each time you visit the App that has implemented a persistent Cookie, the persistent Cookie is renewed and that Cookie will remain active until its predetermined expiration date. You can manually delete persistent Cookies through your browser settings. 
        </p>
        <p>
          Flash cookies differ from other browser cookies regarding the amount and types of data collected and how the data is stored. Your browser will not remove and cannot manage Flash cookies in the same way as other Cookies. To learn about managing your Flash cookie settings, visit the Flash player settings page on Adobe’s website here. 
        </p>
        <p>
          First-party versus third-party Cookies. Cookies may either be “first-party” or “third-party” Cookies. A first-party Cookie allows your web browser to talk to the actual App that you are visiting. A third-party Cookie allows your web browser to talk to a third-party website, such as the source of an ad that appears on the website you are visiting or a third-party analytics provider. We do not have control over how information gathered by third-party Cookies is used by third parties.  
        </p>
        <p>
          How do you manage Cookies or opt-out? Most browsers automatically accept cookies. You can disable this function by changing your browser settings, but disabling cookies may impact your use and enjoyment of the App. Not all features or functions of the App may work properly if you disable Cookies. You cannot disable all Cookies, such as Cookies that are essential to the functioning of the App. 
        </p>
        <p>
          “Do-Not-Track”. We currently do not respond to “Do Not Track” requests. 
        </p>
        <p>
          Analytics.  We use Analytics providers including Google Analytics to collect and process information about your use of the App. Google sets cookies on your browser or device, and then your web browser will automatically send information to Google. Google uses this information to provide us with reports that we use to better understand and measure how users interact with our App.  
        </p>
        <p>
          To learn more about how Google uses data, visit Google’s Privacy Policy and Google’s page on “How Google uses data when you use our partners’ sites or apps.” You may download the Google Analytics Opt-out Browser Add-on for each web browser you use, but this does not prevent the use of other analytics tools. To learn more about Google Analytics cookies, visit Google Analytics Cookie Usage on Websites.  
        </p>
        <p>
          Interest-based Advertising.  We use third parties and/or service providers to provide interest-based advertising services. These services may serve advertisements on our behalf that are customized based on predictions about your interests generated from your visits to the App over time and across different websites. The data collected may be associated with your Personal Information. These advertisements may appear on the App and on websites, and these advertisements may be sent to you via email.   
        </p>
        <p>
          We may use Google Ads to serve ads to the App. Google uses Cookies to collect data about your visits to the App to generate targeted advertisements to you on websites that you visit. To opt-out of this type of advertising by Google, to customize your ad preferences, or to limit Google’s collection or use of such data, visit Google’s Safety Center and Google’s Ad Settings and follow Google’s personalized ad opt-out instructions. Opting out will not affect your use of the Sites. 
        </p>
        <p>
          To change your preferences with respect to certain online ads or to obtain more information about ad networks and online behavioral advertising, visit National Advertising Initiative Consumer opt-out page or the Digital Advertising Alliance Self-Regulatory Program. Changing your settings with individual browsers or ad networks will not necessarily carry over to other browsers or ad networks. As a result, depending on the opt-outs you request, you may still see our ads. Opting-out of targeted advertising does not opt you out of all ads, just those targeted to you. 
        </p>
        <p>
          Video Content.  The App contains videos and embedded content provided by the Company and other parties, including visible content and/or feeds scripts embedded in the App’s code. The Company and such other parties may collect data about how you interact with such content. For example, YouTube may collect usage data on videos embedded on the App. Even if you do not watch videos, YouTube may still collect certain information about your interactions with our App if you are signed into your YouTube account or Google account when accessing our App.  YouTube, LLC is owned by Google. Please see Google's Privacy Policy for more information. 
        </p>
        <p>
          Maps. The App contains maps provided by third parties and/or service providers for your convenience. The Company and such other parties may collect data about how you interact with the maps. For example, Google may collect usage data on maps embedded on the App. Even if you do not interact with the maps, Google may still collect certain information about your interactions with our App if you are signed into your Google account when accessing our App. Please see Google's Privacy Policy for more information.    
        </p>
        <p>
          Third-Party Sources.  We may obtain data about individuals from various third-party companies and public sources and we may combine that data with Personal Information or other data we collect. If we do so, this enhances our existing data about our users, improves our ability to contact you, and enhances our marketing capabilities. 
        </p>
        <p>
          PURPOSE FOR COLLECTING PERSONAL INFORMATION 
        </p>
        <p>
          We may use the Personal Information listed above for the following business purposes: 
        </p>
        <p>
          As Stated or Agreed to at the Point of Collection.  We may collect and use Personal Information for the purposes stated or agreed-to (or as is obvious) at the point of collection. For example, we use Personal Information to respond to your questions, comments, or complaints. We may also use Personal Information as requested or consented to by you. 
        </p>
        <p>
          Administration.  We use Personal Information for administrative purposes, such as managing your accounts, facilitating transactions, to inform our business strategies, to understand the App’s demographics and user preferences, for evaluating applications, and managing profiles.  
        </p>
        <p>
          App’s Management.  We use Personal Information for the App’s management, such as troubleshooting problems, improving the content and functionality of the App, statistical and other analyses of the App, and to customize the App to you and our other users. 
        </p>
        <p>
          Advertising and Communications.  We may use Personal Information to send you promotions or to perform targeted advertising, to notify you of new services, products or programs, to notify you of new features of our App, to notify you of changes to our Terms or this Policy, and for other similar communications. 
        </p>
        <p>
          To Protect Our Rights.  We may use Personal Information to protect our legal rights or interests, or those of other parties, including to bring a legal action against you or anyone who may be causing harm to us, our App, or to other users of the App. We may also use Personal Information to seek business, financial or legal advice, and to respond to other legal requests. 
        </p>
        <p>
          DISCLOSURE OF PERSONAL INFORMATION 
        </p>
        <p>
          We may share the Personal Information listed above as follows: 
        </p> 
        <ul>
          <li>
            Employees and Affiliates.  We may share Personal Information with our employees and affiliates who have a need to know the information for our business purposes.
          </li>
          <li>
            Third-Parties and/or Service Providers.  We may share Personal Information with third parties and/or service providers that provide services for us. For example, we may share Personal Information with vendors to help us host and manage the App; provide targeted advertising and other marketing; improve the content and functionality of the App; perform data analysis and statistical analysis; troubleshoot problems with the App; provide payment processing services and online storefronts; provide public relations; provide learning management systems; provide email services; provide data processing; and support or provide the security of the App.  
          </li>
          <li>
            Government Officials / Law Enforcement.  We will cooperate with law enforcement and other governmental agencies, and may disclose Personal Information: :info: if we believe in good faith we are legally required to disclose that Personal Information, (ii) if we are advised to disclose Personal Information by our legal counsel, or (iii) when necessary to identify, contact or bring a legal action against someone who may cause or be causing harm to, or interfering with the legal rights of, the Company or any other party. 
          </li>
          <li>
            Professional Advisors.  We may share Personal Information with our professional advisors, such as our attorneys, accountants, financial advisors and business advisors, in their capacity as advisors to the Company. 
          </li>
          <li>
            Change in Ownership.  In the event (a) the Company is subject to a change of control, (b) the App changes ownership, in whole or in part, or (c) of a bankruptcy, receivership or a similar transaction, we may provide Personal Information to the subsequent owner(s), including as part of any due diligence process. 
          </li>
          <li>
            Other.  We may share Personal Information with third parties and/or service providers when explicitly requested by or consented to by you, or for the purposes for which you disclosed the Personal Information to us as indicated at the time and point of the disclosure (or as was obvious at the time and point of disclosure). 
          </li>
        </ul>
        <p>
          USE AND DISCLOSURE OF DE-IDENTIFIED OR AGGREGATED INFORMATION  
        </p>
        <p>
          The Company may collect, use, share, transfer and otherwise process de-identified and aggregated information that it receives or creates for any purposes in its sole discretion, in compliance with applicable laws. The Company is the sole and exclusive owner of such de-identified and aggregated information, including if the Company de-identifies Personal Information so that it no longer considered Personal Information under applicable laws.  
        </p>
        <p>
          CHILDREN
        </p>
        <p>
          The App is not directed at children. We do not knowingly collect Personal Information from children under the age of 13 unless we have appropriate parental consent. If you learn that your child provided us with Personal Information without your consent, please contact us. 
        </p>
        <p>
          SOCIAL MEDIA
        </p>
        <p>
          We are active on social media, including YouTube, Pinterest, Facebook, Instagram, Twitter, LinkedIn and TikTok (“Social Media”). Anything you post on Social Media is public information and will not be treated confidentially. We may post (or re-post) on the App and our Social Media pages any comments or content that you post on our Social Media pages. 
        </p>
        <p>
          The App allows you to connect and share data with Social Media platforms. These features may require us to use cookies, plug-ins, and APIs provided by such Social Media platforms to facilitate those communications and features. The App may use advertising networks and services offered by Social Media platforms to deliver advertising content. Use of these services requires Social Media platforms to implement cookies or pixel tags to deliver ads to you while you access the App. 
        </p>
        <p>
          Your use of Social Media is governed by the privacy policies and terms of the providers that own and operate those websites and not by this Policy. We encourage you to review those policies and terms. 
        </p>
        <p>
          DATA SECURITY 
        </p>
        <p>
          We use commercially reasonable technical and organizational measures to help secure Personal Information against loss, misuse, and alteration appropriate to the type of Personal Information processed. If a breach of your Personal Information occurs, we will notify you of the breach if required under applicable law. 
        </p>
        <p>
          No data transmission over the internet or device can be guaranteed to be 100% secure. While we strive to protect Personal Information, we do not guarantee the security of Personal Information and you provide Personal Information at your own risk. 
        </p>
        <p>
          ACCESS FROM OUTSIDE THE UNITED STATES
        </p>
        <p>
          The App is intended for consumers within the United States. If you access the App from outside the United States, please be aware that Personal Information may be transferred to, stored in, and processed in the United States.  
        </p>
        <p>
          THIRD-PARTY WEBSITES 
        </p>
        <p>
          The App may link to, or be linked to, websites not owned or controlled by us. We are not responsible for third-parties’ privacy policies or practices. This Policy does not apply to any third-party websites or to any data that you provide to third parties. You should read the privacy policy for each website that you visit. 
        </p>
        <p>
          TERMS APPLICABLE TO CALIFORNIA RESIDENTS ONLY
        </p>
        <p>
          This Section 11 provides additional terms that apply to residents of California. In the event of a conflict between this Section and the remainder of this Policy, this Section shall take precedence for California residents.  In this Section only, any capitalized terms not defined in this Policy have the meanings set forth in the California Consumer Privacy Act of 2018 (the “CCPA”). 
        </p>
        <p>
          Categories of Personal Information Collected. In the past 12 months we have collected the following categories of Personal Information 
        </p>
        <p>
          Identifiers
        </p>
        <p>
          Contact Information 
        </p>
        <p>
          Customer Records 
        </p>
        <p>
          Health and Medical Information 
        </p>
        <p>
          Commercial Information
        </p>
        <p>
          Device and Usage Information
        </p>
        <p>
          Location Data
        </p>
        <p>
          Employment Information
        </p>
        <p>
          Inferences
        </p>
        <p>
          Categories of Personal Information Disclosed for a Business Purpose.  In the last 12 months we disclosed the following categories of Personal Information for our Business Purposes: 
        </p>
        <p>
          Identifiers
        </p>
        <p>
          Contact Information
        </p>
        <p>
          Customer Records
        </p>
        <p>
          Commercial Information
        </p>
        <p>
          Device and Usage Information
        </p>
        <p>
          Location Data
        </p>
        <p>
          Employment Information
        </p>
        <p>
          Inferences
        </p>
        <p>
          Your Rights to Access and Deletion.  California residents have certain rights under the CCPA, such as the right to request certain information or request deletion of their personal information.  Subject to certain limitations such as (a) exceptions permitted by applicable law and (b) verification of your identity, California residents may exercise the following rights with regard to their Personal Information: 
        </p>
        <p>
          Right to Access.  You have the right to access any of the following which occurred in the prior 12-month period: (a) the categories of Personal Information we collected from you, (b) the categories of sources from which the Personal Information was collected, (c) the business or commercial purpose for collecting or Selling your Personal Information, (d) the categories of third parties with whom we shared your Personal Information, (e) the specific pieces of Personal Information we collected from you (i.e. "data portability"), and (f) a list of categories of Personal Information we Sold or disclosed for a Business Purpose in the last 12 months.  
        </p>
        <p>
          Right to Deletion.  You have a right to request that we delete Personal Information we collected from you. We will comply with such request, and direct our service providers to do the same, subject to certain exceptions permitted by applicable law.  
        </p>
        <p>
          How to Exercise Your Rights of Access and Deletion.  To exercise your California rights described in this Section, you may submit your request to us by contacting us at any of the following: 
        </p>
        <p>
          (954) 641-0570
        </p>
        <p>
          privacy@bangenergy.com
        </p>
        <p>
          Verifying Your Request.  In order to verify your request, you must provide sufficient information to allow us to reasonably verify you are the person about whom we collected Personal Information, and you must describe your request with sufficient detail to allow us to properly understand, evaluate, and respond to your request. 
        </p>
        <p>
          When we receive your request to exercise your rights under the CCPA we will: (a) acknowledge receipt of your request; (b) try to match the information you provide in making the request with information we already maintain about you; (c) if required to verify your identity, ask you to provide additional information, including personal information; (d) consider various factors when determining how to verify your identity, such as the sensitivity and value of the data, the risk of harm, the likelihood of fraud, etc. 
        </p>
        <p>
          We will only use personal information we collect during the verification process for the purpose of verifying your identity.  If you maintain an account with us, we may use that account to respond to your request and/or verify your identity.  If we are unable to verify your identity as required by applicable laws and regulations, we will decline to comply with your request, and let you know why.  
        </p>
        <p>
          When We Will Respond.  We will try to respond to your request for access or deletion within 45 days. If we require additional time, we will inform you of the reason and extension period. Any disclosures we provide will only cover the 12-month period preceding our receipt of your request. For data portability requests, we will select a format to provide your Personal Information to you. We may charge a fee to process or respond to your request if it is excessive, repetitive, or manifestly unfounded.  
        </p>
        <p>
          Your Rights to Opt-Out of the Sale of Personal Information. California residents have the right to opt out of the Sale of their Personal Information.  In the last 12 months we have not Sold your Personal Information and we currently do not Sell Personal Information.  
        </p>
        <p>
          Non-Discrimination. California residents have the right to not receive discriminatory treatment for exercising any of their rights under the CCPA.  
        </p>
        <p>
          Who May Exercise Your Rights? You may only make a request to exercise your rights on behalf of yourself. You also have a right to submit requests to exercise your rights under the CCPA through an authorized agent. An authorized agent must be registered with the Secretary of State in California to conduct business in California. If you choose to use an authorized agent, you must (a) provide signed permission to that authorized agent to submit requests on your behalf, (b) verify your identity directly with the Company, and (c) directly confirm with Company that you granted permission to the authorized agent to submit the request on your behalf. For clarity, you are required to verify the identity of both yourself and the authorized agent.   
        </p>
        <p>
          We may deny a request from an authorized agent if we do not have proof that they are authorized by you to act on your behalf.   
        </p>
        <p>
          Shine the Light.  Pursuant to California Civil Code Section 1798.83, if you are a California resident, you have the right to obtain: (a) a list of all third parties to whom we may have disclosed your Personal Information within the past year for direct marketing purposes, and (b) a description of the categories of Personal Information disclosed, by contacting us per the “Contact Us” Section below. 
        </p>
        <p>
          CONTACT US 
        </p>
        <p>
          If you have any questions you may contact us as set forth below: 
        </p>
        <p>
          Vital Pharmaceuticals, Inc.,<br />
          d/b/a Bang Energy<br />
          1600 North Park Drive, Weston, Florida 33326<br />
          https://bangenergy.com/contact-us/<br />
          (954) 641-0570<br />
          privacy@bangenergy.com
        </p>     
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

